:root{
    /* 边框颜色 */
    --border-color:#e5e8ed;
    --border-input:#dee1e7;
    --border-normal-color:#EEF1F6;
    --border-active-color:#6954F0;
    /* 背景 */
    --active-bg:#6954F0;
    --white-bg:#fff;
    --hover-active-bg:#9587ea;
    --active-transe-bg:#e5e1ff;
    --cancel-bg:#E6ECF6;
    /* 文字颜色 */
    --font-normal-color:#242d4e;
    --font-auxiliary-color:#5A6275;
    --font-white-color:#fff;
    --font-color:#7C88A4;
    
    /* 选中字体颜色 */
    --font-active-color:#6954F0;
  
    --tip-color:#CA8743;
    --tip-bg:#FDF6EC;
  
    /* 列表背景色 */
    --list--content-bg:#FAFBFC;
    --list--border-color: #EEF1F6;
  
    /* 链接标题背景 */
    --list-more-link-bg: #F5F7F9;
    
  }


  .selector-tabs{
    text-align: center;
    padding: 27px 357px 15px 357px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--border-color);
  }
  .selector-tabs .selector-tabs-item{
    flex: 1;
    font-size: 16px;
    color:var(--font-normal-color);
    cursor: pointer;
  }
  .selector-tabs .selector-tabs-item__active{
    font-weight: bold;
    position: relative;
  }
  .selector-tabs .selector-tabs-item__active::after{
    content:'';
    width: 70px;
    height: 3px;
    background: var(--active-bg);
    border-radius: 2px;
    position: absolute;
    bottom: -15px;
    left: calc(50% - 35px);
  }
  .libaray-radio .el-radio__input.is-checked+.el-radio__label{
    color: var(--font-active-color);
  }
  .libaray-radio .el-radio__input.is-checked .el-radio__inner{
    color: var(--font-active-color);
    background: var(--active-bg);
    border-color: var(--border-active-color);
  }
  .library-list {
    width: 100%;
    height: 740px;
    display: flex;
  }
  .library-list_left {
    width: 218px;
    height: 100%;
    overflow-y: auto;
    border-right: 1px solid var(--border-color);
    font-size: 13px;
    position: relative;
  }
  .library-list_left__body {
    height: calc(100% - 160px);
    padding: 20px 0 20px 10px;
    overflow-y: hidden;
    scrollbar-width: thin;
  }
  .library-list_left__body:hover {
    overflow-y: scroll;
  }
  .library-list_left__tree {
    margin-right: 10px;
  }
  .library-list_left__tree .el-tree-node__content {
    height: 34px;
    line-height: 34px;
    margin-bottom: 6px;
    color: var(--font-auxiliary-color);
  }
  .library-list_left__tree .el-tree-node__content > .el-tree-node__expand-icon {
    padding: 6px 4px;
  }
  .library-list_left__tree .el-icon-caret-right {
    color: var(--font-auxiliary-color);
  }
  .library-list_left__tree .icon-wenjian1 {
    color: #b9c4d7;
  }
  /* 无子级去除箭头 */
  .library-list_left__tree .el-tree-node__expand-icon.is-leaf {
    visibility: hidden;
  }
  .library-list_left__tree .is-current > .el-tree-node__content {
    background: #f0eefd;
  }
  .library-list_left__tree
    .el-tree-node__content
    .library-list_left__tree__label {
    display: inline-block;
    width: 90px;
    vertical-align: bottom;
  }
  .library-list_left__tree
    .is-current
    > .el-tree-node__content
    .library-list_left__tree__label {
    color: var(--font-active-color);
  }
  .library-list_left__tree__box {
    width: 100%;
    display: flex;
  }
  .library-list_left__tree__box span:first-child {
    width: calc(100% - 35px);
  }
  .el-tree.library-list_left__tree .el-dropdown {
    width: 20px;
    text-align: right;
  }
  .hover-show {
    visibility: hidden;
  }
  .el-tree-node__content:hover .hover-show {
    visibility: visible;
  }
  .library-list__right {
    width: calc(100% - 219px);
    height: 100%;
    overflow-y: auto;
  }
  .library-list_left__text {
    display: inline-block;
    width: 80%;
  }
  .edit_ope:hover,
  .delete_ope:hover {
    color: var(--font-active-color);
  }
  .library-dropdown {
    border-radius: 2px;
  }
  .library-dropdown .el-dropdown-menu__item {
    font-size: 13px;
  }
  .library-dropdown .el-dropdown-menu__item:focus,
  .library-dropdown .el-dropdown-menu__item:not(.is-disabled):hover {
    background-color: transparent;
    color: var(--font-active-color);
  }
  
  .library-list_left__bottom {
    box-shadow: 0px 1px 2px 0px #dcdcdc;
    position: absolute;
    width: calc(100% - 29px);
    padding: 23px 0 23px 29px;
    left: 0;
    bottom: 0;
    cursor: pointer;
  }
  
  .library-list__right {
    position: relative;
    font-size: 13px;
  }
  .library-list__right__top {
    display: flex;
    padding: 20px;
  }
  .library-list__right__top__left {
    width: 40%;
  }
  .library-list__right__top__right {
    width: 60%;
    text-align: right;
  }
  .library-list__right__body {
    padding: 0 20px;
    height: calc(100% - 200px);
  }
  .library-list__right__body__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    /* margin-top: 15px; */
    padding: 15px 20px 0px 20px;
    margin: 0px -20px;
    max-height: calc(100% - 32px);
    overflow-y: hidden;
    scrollbar-width: thin;
  }
  .library-list__right__body__list:hover {
    overflow-y: auto;
  }
  .library-list__right__body__item {
    width: 126px;
    margin-right: 13px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  .library-list__right__body__item .name {
    font-size: 13px;
    color: var(--font-auxiliary-color);
    line-height: 18px;
    height: 18px;
    margin-top: 10px;
  }
  .library-list .el-checkbox__input.is-checked+.el-checkbox__label{
    color:var(--font-active-color) !important;
  }
  .library-list__right__body__item__content {
    width: 125px;
    height: 125px;
    line-height: 125px;
    border: 1px solid #eef1f6;
    position: relative;
    text-align: center;
  }
  .library-list__right__body__item__content .el-checkbox {
    visibility: hidden;
  }
  .library-list__right__body__item__content__active {
    border-width: 2px;
    border-color: var(--border-active-color);
    height: 124px;
    line-height: 124px;
    width: 124px;
  }
  .library-list__right__body__item img,  
  .library-list__right__body__item video {
    max-width: calc(100% - 4px);
  max-height: calc(100% - 4px);
    vertical-align: middle;
  }
  .library-input-date.el-range-editor.is-active{
    box-shadow: 0 0 0 1px var(--border-active-color) inset;
  }
  .library-list__right__body__item .el-checkbox {
    position: absolute;
    bottom: -2px;
    right: 0;
    line-height: 1;
  }
  .video-block{
    position: relative;
    height: 100%;
  width: 100%;
  }
  .video-block .iconfont{
    color: var(--font-white-color);
  line-height: 39px;
  font-size: 39px;
  position: absolute;
  top: calc(50% - 19px);
  left:calc(50% - 19px);
  }
  .fade-out{
    opacity: 0;
  }
  .library-list__right__body__item .el-checkbox .el-checkbox__inner {
    border-radius: 0;
    border-top-left-radius: 3px;
  }
  .library-list__right__body__empty .library-list__right__body__item__content {
    background: #f5f6f8;
    text-align: center;
  }
  .library-list__right__body__empty .iconfont {
    font-size: 39px;
    color: #dfe2e8;
  }
  .library-list__right__body__item:nth-child(6n) {
    margin-right: 0;
  }
  
  .library-list__right__body__item__num {
    position: absolute;
    font-size: 12px;
    line-height: 12px;
    width: 20px;
    height: 20px;
    background: var(--active-bg);
    border-radius: 50%;
    top: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--font-white-color);
  }
  .library-list__right__body__item__delete {
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    visibility: hidden;
  }
  .library-list__right__body__item__enlarge {
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    color:var(--font-white-color);
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: calc(50% - 9px);
    right: 10px;
    cursor: pointer;
    visibility: hidden;
  }
  .library-list__right__body__item__enlarge .icon-enlarge {
    font-size: 18px;
  }
  .library-list__right__body__item__size {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 24px;
    line-height: 24px;
    text-align: center;
    color:var(--font-white-color);
    visibility: hidden;
    position: absolute;
    bottom: 0;
    z-index: 3;
  }
  .library-list__right__body__item__content:hover
    .library-list__right__body__item__size,
  .library-list__right__body__item__content:hover
    .library-list__right__body__item__delete,
  .library-list__right__body__item__content:hover
    .library-list__right__body__item__enlarge,
  .library-list__right__body__file:hover
  .library-list__right__body__item__delete,
  .library-list__right__body__item__content__active .el-checkbox {
    visibility: visible;
  }
  .library-list__right__body__item__delete .iconfont {
    color:var(--font-white-color);
    font-size: 14px;
  }
  .library-list__right__bottom {
    width: calc(100% - 20px);
    padding: 14px 0 14px 0;
    text-align: right;
    position: absolute;
    bottom: 0;
    border-top: 1px solid var(--border-color);
    background: var(--white-bg);
    padding-right: 20px;
    z-index: 3;
  }
  .text-hide {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .mr-10 {
    margin-right: 10px;
  }
  .ml-10 {
    margin-left: 10px;
  }
  .ml-6 {
    margin-left: 6px;
  }
  .text-right {
    text-align: right;
  }
  .cl-normal-color {
    color: var(--font-normal-color);
  }
  .cl-color {
    color: var(--font-color)
  }
  .cl-active-color{
    color: var(--font-active-color);
  }
  .pointer {
    cursor: pointer;
  }
  .fz-13 {
    font-size: 13px;
  }
  .fz-14 {
    font-size: 14px;
  }
  .library-btn {
    font-size: 13px;
    padding: 8px 14px;
    border-radius: 3px;
    background: var(--active-bg);
    color: var(--font-white-color);
    border-color: var(--hover-active-bg);
  }
  .library-btn:hover {
    color:var(--font-white-color);
    background-color: var(--hover-active-bg);
    border-color: var(--hover-active-bg);
  }
  .library-cancel-btn {
    font-size: 13px;
    padding: 8px 14px;
    border-radius: 3px;
    background: #e6ecf6;
    border-color: transparent;
    color: var(--font-normal-color);
  }
  .library-cancel-btn > .iconfont {
    margin-right: 4px;
  }
  .library-input {
    width: 160px !important;
  }
  .library-input .el-input__inner {
    height: 34px;
    border-radius: 3px;
    border: 1px solid var(--border-input);
  }
  .library-input .el-input__inner::placeholder {
    color: #c7cddb;
    line-height: 13px;
  }
  .library-input-date {
    width: 260px !important;
    height: 34px !important;
    line-height: 34px;
    border-radius: 3px;
    border: 1px solid var(--border-input);
    vertical-align: bottom;
    box-shadow: none !important;
  }
  .library-input-date .el-range__icon,
  .library-input-date .el-range-separator,
  .library-input-date .el-range__close-icon {
    line-height: 26px;
  }
  .library-input-date .el-input__inner::placeholder {
    color: #c7cddb;
    line-height: 13px;
  }
  .library-input .el-input__prefix,
  .library-input .el-input__prefix .el-input__icon,
  .library-input .el-input__suffix,
  .library-input .el-input__suffix-inner .el-input__icon {
    line-height: 34px;
  }
  .pd-10-28 {
    padding: 10px 28px;
  }
  .mt-20-0 {
    margin: 20px 0;
  }
  .mt-20 {
    margin-top: 20px;
  }
  .ml-20 {
    margin-left: 20px;
  }
  .library-checkbox .el-checkbox__label {
    color: var(--font-normal-color);
    font-size: 13px;
  }
  .library-checkbox .el-checkbox__inner {
    width: 17px;
    height: 17px;
    border-radius: 3px;
  }
  .library-checkbox .el-checkbox__input.is-checked .el-checkbox__inner,
  .library-checkbox .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    background: var(--active-bg);
    border-color: var(--border-active-color);
  }
  .library-checkbox .el-checkbox__inner::after {
    height: 8px;
    width: 4px;
    left: 5px;
  }
  .library-no-border__input .el-input__inner {
    border: 0;
    height: 34px;
    line-height: 34px;
    border-bottom: 1px solid var(--border-input);
    border-radius: 0;
    padding-left: 35px;
  }
  .library-no-border__input .el-input__prefix,
  .library-no-border__input .el-input__suffix {
    line-height: 34px;
    margin-left: 10px;
    margin-right: 5px;
  }
  .library-no-border__input .el-input__inner::placeholder,
  .library-input__long .el-input__inner::placeholder {
    color: #c7cddb;
    font-size: 13px;
  }
  .library-input__long {
    width: 580px;
  }
  .library-input__long .el-input__inner {
    width: 580px;
    height: 35px;
    line-height: 35px;
    background: var(--white-bg);
    border-radius: 3px;
    border: 1px solid var(--border-input);
  }
  .library-input__medium {
    width: 320px;
  }
  .library-input__medium .el-input__inner {
    width: 320px;
    height: 35px;
    line-height: 35px;
    background: var(--white-bg);
    border-radius: 3px;
    border: 1px solid var(--border-input);
  }
  .library-list__right__body__item__content .el-checkbox__inner::after {
    height: 10px;
    width: 5px;
    left: 6px;
  }
  .library-list_left__body::-webkit-scrollbar,
  .library-list__right__body__list::-webkit-scrollbar {
    width: 8px;
  }
  /*定义滚动条的轨道，内阴影及圆角*/
  .library-list_left__body::-webkit-scrollbar-track,
  .library-list__right__body__list::-webkit-scrollbar-track {
    background-color: transparent;
  }
  /*定义滑块，内阴影及圆角*/
  .library-list_left__body::-webkit-scrollbar-thumb,
  .library-list__right__body__list::-webkit-scrollbar-thumb {
    background-color: #dfe2e8;
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
  }
  
  .library-list_left__body::-webkit-scrollbar-thumb:hover,
  .library-list__right__body__list::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }
  .library-dialog .el-dialog__header {
    padding: 10px 16px 10px 20px;
    background: #eff3f8;
    border-radius: 5px 5px 0px 0px;
  }
  .library-dialog .el-dialog__title {
    font-size: 15px;
    color: var(--font-normal-color);
  }
  .library-dialog .el-dialog__headerbtn {
    top: 12px;
  }
  .library-dialog .el-dialog__body {
    padding: 30px 20px 1px 20px;
  }
  .library-dialog .el-dialog__headerbtn .el-dialog__close {
    color: var(--font-auxiliary-color);
    font-weight: 700;
  }
  .library-form .el-form-item__label {
    font-size: 13px;
    color: var(--font-normal-color);
  }
  .library-alert__text {
    font-size: 13px;
    color: #7c88a4;
  }
  .library-cropper-box .el-dialog__body {
    padding: 20px;
  }
  .library-list__right__body__list__empty {
    margin: auto auto;
    padding-top: 182px;
  }
  .library-list__right__body__list__empty p {
    font-size: 13px;
    color: var(--font-auxiliary-color);
    margin-top: 20px;
  }
  .pd-10-20 {
    padding: 10px 20px 9px 20px;
  }
  .enlarge-dialog {
    box-shadow: none;
    background: transparent;
  }
  .enlarge-dialog .el-dialog__header {
    display: none;
  }
  .enlarge-dialog .el-dialog__body {
    padding: 0;
    text-align: center;
  }
  .enlarge-dialog__img img {
    max-width: 100%;
  }
  .enlarge-dialog__img span {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    background: var(--white-bg);
    position: absolute;
    cursor: pointer;
    top: -10px;
    right: -10px;
    line-height: 20px;
  }
  .enlarge-dialog__img .iconfont {
    font-size: 20px;
  }

  .library-header{
    width: calc(100% - 40px);
    height: 44px;
    line-height: 44px;
    background: #EEF1F6;
    border-radius: 5px 5px 0px 0px;
    padding: 0 20px;
  }
  .library-header .fr{
    float: right;
  }

  .thumbnail-box .el-upload {
    border: 1px solid var(--border-normal-color);
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .thumbnail-box .avatar-uploader-icon {
    color: #8c939d;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
  }
  .thumbnail-box .avatar {
    width: 80px;
    height: 80px;
    display: block;
  }
  .thumbnail-box .audio_show {
    padding: 1px;
    display: block;
  }
  .from-online{
    position: absolute;
    left: 0;
    bottom: 0;
  }
   .album_text{
    color: red;
    font-weight: 500;
    font-size: 16px;
  }