{include file="public/head" /}
{include file="public/top" /}

<input type="hidden" id="nowhtml" value="navRanking" class="navRanking2">

<form class="form-horizontal" action="" method="post">
    <div class="public_select_search_btn_box">
        <div class="search_box_title">提交时间:</div>
        <span class="search_box_content datetimepicker_box">
				<input placeholder="请选择提交开始时间" type="text" name="start_get" value="{$start_get}" id="datetimepicker" placeholder="" autocomplete="off">
				<span class="mr-12">至</span>
				<input placeholder="请选择提交结束时间" type="text" name="end_get" value="{$end_get}" id="end_datetimepicker" placeholder="" autocomplete="off">
			</span>
        <div class="search_box_content">
            <select id="search_flag" >
                <!-- 0待使用 1已使用 2已过期 3全部-->
                <option value="-1" {if !$search_flag}selected="selected"{/if}>全部类型</option>
                <option value="0" {if $search_flag == '0'}selected="selected"{/if}>待审核</option>
                <option value="1" {if $search_flag == '1'}selected="selected"{/if}>已通过</option>
                <option value="2" {if $search_flag == '2'}selected="selected"{/if}>已拒绝</option>
            </select>
        </div>
        <input type="text" id="search_keys" value="{$search_keys}"  class="search_box_content"  placeholder="搜索关键字" autocomplete="off" onkeypress="getKey()">
        <div   class="btn btn-primary mr-10" id="filter" onclick="search()">搜索</div>

    </div>
</form>

<div class="row">
    <div class="col-xl-12">
        <div class="portlet box ">
            <div class="portlet-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th style="width: 60px;">ID</th>
                        <th style="width: 120px">用户</th>
                        <th style="width:250px;">凭证</th>
                        <th style="width:80px;">游戏名称</th>
                        <th style="width: 200px;">提交时间</th>
                        <th style="width: 150px;">状态</th>
                        <th style="width: 150px;">分值</th>
                        <th width="200px;">操作</th>
                    </tr>
                    </thead>

                    {if $lists}
                    {foreach $lists as $item}
                    <tr>
                        <td >
                            {$item.id}
                        </td>
                        <td class="text-left pl-30">
                            <img src="{$item.UserInfo['avatar']}" class="list_avatar_img">
                            {$item.UserInfo['nickname']}
                        </td>
                        <td>
                            <!-- <a href="{$item.voucher_thumb}" target="_blank"> -->
                                <img src="{$item.voucher_thumb}" class="list_check_img" style="width: 100px;cursor: pointer;">
                            <!-- </a> -->
                        </td>
                        <td>
                            {$item->playRecord->RecordTypeStr}
                        </td>
                        <td>
                            {$item->create_time}
                        </td>
                        <td>
                            {if $item.status == 0}
                            <span class="badge badge-warning">待审核</span>
                            {/if}
                            {if $item.status == 1}
                            <span class="badge badge-success">已通过</span>
                            {/if}
                            {if $item.status == 2}
                            <span class="badge badge-danger  ">已拒绝</span>
                            {/if}
                        </td>
                        <td>
                            {if $item.status == 1}
                                {$item->playRecord->score_result}
                            {/if}
                        </td>
                        <td>
                            {if $item.status == 0}
                            <button class="btn btn-outline-primary" type="submit" onclick="checkGame('{$item.id}', '{$item.playRecord->result_type}')">审核</button>
                            {/if}
                            <a onclick="return confirm('该删除操作不可逆，请谨慎操作！'); return false;" href="{:Url('GameRankingController/deleteUserPlayVoucher')}?voucher_id={$item.id}">
                                <button class="btn btn-outline-danger" type="submit">删除</button>
                            </a>
                        </td>
                    </tr>
                    {/foreach}
                    {/if}
                </table>

                <!-- 分页 -->
                <div class="fenye_bottomBox">
                    <div class="fenye_left">
                        一共查询到<font color="red" style="padding:0 10px;">{$lists->total()}</font>条数据
                    </div>
                    <div class="fenye_right">
                        {$lists|raw}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function del(){
        if(confirm('该删除操作不可逆，请谨慎操作?')){
            return true;
        }else{
            return false;
        }
    }

    $(".list_check_img").click(function(){
        console.log(this.src)
        layer.open({
            type: 1, // 类型为1表示页面层
            title: false, // 不显示标题栏
            closeBtn: 1, // 不显示关闭按钮
            area: '600px', // 图片展示区域的大小
            skin: 'layui-layer-nobg', // 没有背景的skin
            shadeClose: true, // 点击遮罩层关闭图片展示层
            content: '<img src="'+this.src+'" alt="图片展示" style="display:block;height:100%;width:100%;">'
        });
    })

    function checkGame(id, result_type){
        if(result_type == '1'){
            $("#score").show();
            $("#score_time").hide();
        }
        if(result_type == '2'){
            $("#score").hide();
            $("#score_time").show();
        }
        layer.open({
            type: 1,
            content: $('#checkOut'),
            title: ["审核", "text-align:center;padding:0;font-weight:600;font-size:17px"],
            area: ["800px", "300px"],
            btn: ["确定", "取消"],
            btnAlign: 'c',
            closeBtn: 0,
            success: function () {
                console.log('确定')
            },
            yes: function (index){
                var score_result = 0
                if(result_type == '1'){
                    score_result = $("#score_result").val();
                    if(!score_result){
                        alert('请输入分值')
                        return;
                    }
                }
                var time_minute = 0;
                var time_second = 0;
                var time_millisecond = 0;
                if(result_type == '2'){
                    time_minute = $("#time_minute").val();
                    time_second = $("#time_second").val();
                    time_millisecond = $("#time_millisecond").val();
                    if(!time_minute && !time_second && !time_millisecond){
                        alert('请输入时间')
                        return;
                    }
                    if(time_minute < 1 && time_second < 1 && time_millisecond < 1){
                        alert('请输入时间')
                        return;
                    }
                    if(time_minute < 0 || time_minute > 1800){
                        alert('分钟数只能0-1800')
                        return;
                    }
                    if(time_second > 59 || time_second < 0){
                        alert('秒数只能是0-59')
                        return;
                    }
                    if(time_millisecond > 999 || time_millisecond < 0){
                        alert('毫秒数只能是0-999')
                        return;
                    }
                }

                $.ajax({
                    url:"{:Url('GameRankingController/checkUserPlayVoucher')}",
                    type:"post",
                    dataType:'json',
                    data:{
                        appletid: 1,
                        voucher_id: id,
                        score_result: score_result,
                        time_minute: time_minute,
                        time_second: time_second,
                        time_millisecond: time_millisecond,
                    },
                    success:function(result){
                        if(result.code == 1){
                            layer.msg("操作成功！", {
                                time: 1000,
                            });
                            setTimeout(() => {
                                location.reload()
                            }, 1000);
                        }else{
                            alert(result.msg)
                        }
                    }
                })

            }
        })
    }

    function getKey(){
        if(event.keyCode == 13){
            search();
        }
    }
    function search() {
        var start_get=$("#datetimepicker").val();
        var end_get=$("#end_datetimepicker").val();
        var search_flag=$("#search_flag").val();
        var search_keys=$("#search_keys").val();
        location.href = "{:Url('GameRankingController/gameCheck')}?start_get="+start_get+"&end_get="+end_get+"&search_flag="+search_flag+'&search_keys='+search_keys;
    }

</script>


{include file="public/foot_more" /}


<div id="checkOut" class="form-horizontal" style="display: none;padding-top: 40px;">
    <div class="control-group" id='score' style="display: none;">
        <label class="control-label">审核分值：</label>
        <div class="controls">
            <div class="controls-content controls-content-input-group">
                <input name="score_result" id="score_result" type="number" min="0" step="0.01" class="controls-content" value="">
            </div>
        </div>
    </div>
    <div class="control-group" id="score_time" style="display: none">
        <label class="control-label">竞赛时间：</label>
        <div class="controls">
            <div class="controls-content controls-content-input-group">
                <input name="time_minute" style="border-left: 1px solid #eaeaea;" id="time_minute" type="number" min="1" step="1" class="controls-content-input-group-nb"  value=""/>
                <span class="controls-content-input-group-first"> 分 </span>
                <input name="time_second" id="time_second" type="number" min="0" step="1" max="59" class="controls-content-input-group-nb" value=""/>
                <span class="controls-content-input-group-last">秒</span>
                <input name="time_millisecond" id="time_millisecond" type="number" min="0" max="999" step="1" class="controls-content-input-group-nb" value=""/>
                <span class="controls-content-input-group-last">毫秒</span>
            </div>
        </div>
    </div>
</div>