:root{
  /* 边框颜色 */
  --border-color:#e5e8ed;
  --border-normal-color:#EEF1F6;
  --border-active-color:#3d9de9;
  /* 背景 */
  --active-bg:#3d9de9;
  --active-transe-bg:#e5e1ff;
  --cancel-bg:#E6ECF6;
  /* 文字颜色 */
  --font-normal-color:#242d4e;
  --font-auxiliary-color:#5A6275;
  --font-white-color:#fff;

  /* 选中字体颜色 */
  --font-active-color:#3d9de9;

  --tip-color:#CA8743;
  --tip-bg:#FDF6EC;

  /* 列表背景色 */
  --list--content-bg:#FAFBFC;
  --list--border-color: #EEF1F6;

  /* 链接标题背景 */
  --list-more-link-bg: #F5F7F9;
  
}


/* 滚动条样式 */
::-webkit-scrollbar {
  /*滚动条整体样式*/
  /*高宽分别对应横竖滚动条的尺寸*/

  width: 3px;
  height: 1px;
  
}
::-webkit-scrollbar-thumb {
  border-radius: 999px;
  border-left: 8px solid transparent;
}
  */
::-webkit-scrollbar-track {
  width: 3px;
  /*滚动条里面轨道*/

  /* background:transparent; */
}
 
::-webkit-scrollbar-thumb {
  
  /*滚动条里面小方块*/

  min-height: 3px;
  background-clip: content-box;
  box-shadow: 0 0 0 5px rgba(0, 0, 0, 0.2) inset;
}
 
/* 滚动条样式 */


.link-btn{
  padding: 0 28px;
  height: 34px;
  line-height: 34px;
  border-radius: 3px;
  border: 0;
}
.link-btn-cancel{
  color: var(--font-normal-colors);
  background: var(--cancel-bg);
  border-color: transparent;
}
.link-btn-cancel:hover{
  color: #409EFF;
  border-color: #c6e2ff;
  background-color: #ecf5ff;
}
.link-btn-primary{
  color: #fff;
  background: var(--active-bg);
  color: var(--font-white-color);
}
.link-btn-primary:hover{
  color: #fff;
  background-color: #9587ea;
  border-color: #9587ea;
}

.display-flex{
  display: flex;
}