APP_DEBUG = false

DATABASE_TYPE = mysql
DATABASE_HOSTNAME = 127.0.0.1
DATABASE_DATABASE = jiafangyun
DATABASE_USERNAME = root
DATABASE_PASSWORD = change-me
DATABASE_HOSTPORT = 3306
DATABASE_CHARSET = utf8
DATABASE_PREFIX = 

REDIS_HOSTNAME = 127.0.0.1
REDIS_HOSTPORT = 6379
REDIS_PASSWORD = 
REDIS_SELECT = 0

WECHAT_MINIAPP_APPID = 
WECHAT_MINIAPP_APPSECRET = 
WECHAT_PAY_SIGNKEY_V2 = 
WECHAT_PAY_SIGNKEY_V3 = 
WECHAT_PAY_MCHID = 
WECHAT_PAY_API_SERIAL_SN = 
WECHAT_PAY_API_PRIVATE_KEY_PATH = /secure/path/apiclient_key.pem
WECHAT_PAY_PLATFORM_CERT_PATH = /secure/path/platform_cert.pem

WECHAT_ACCOUNT_APPID = 
WECHAT_ACCOUNT_APPSECRET = 
WECHAT_ACCOUNT_TOKEN = 
WECHAT_ACCOUNT_AES_KEY = 
WECHAT_ACCOUNT_PAY_KEY_V2 = 
WECHAT_ACCOUNT_PAY_MCHID = 

WECHAT_WEB_APPID =
WECHAT_WEB_APPSECRET =
WECHAT_WEB_LOGIN_CALLBACK = https://file-test.jfyuntu.com/wechat-login-callback
JIAFANGYUN_FILE_WEB_BASE_URL = https://file-test.jfyuntu.com/

JWT_PRIVATE_KEY_PATH = /secure/path/jwt_private.pem
JWT_PUBLIC_KEY_PATH = /secure/path/jwt_public.pem
# Alternatively provide escaped PEM strings directly via JWT_PRIVATE_KEY/JWT_PUBLIC_KEY.

AI_RESOURCE_API_BASE = https://ai.jfyuntu.com/api/v1
AI_RESOURCE_BRIDGE_TOKEN = 
AI_RESOURCE_BRIDGE_MODE = all
AI_RESOURCE_BRIDGE_UIDS = 
JIAFANGYUN_BRIDGE_TOKEN = 
WECHAT_AI_CALLBACK_URL = 
JIAFANGYUN_PC_BASE_URL = https://pic.jfyuntu.com/

[FILE_DB]
TYPE = pgsql
HOSTNAME = 127.0.0.1
DATABASE = ai_jf
USERNAME = ai_jf_user
PASSWORD = change-me
HOSTPORT = 5433
CHARSET = utf8
PREFIX = ft_
SCHEMA = public

[FILE_TRANSFER]
MAX_UPLOAD_MB = 500
ANONYMOUS_MAX_UPLOAD_MB = 200
MAX_REGISTERED_UPLOAD_MB = 500
MAX_FILES_PER_REQUEST = 50
MIN_FREE_DISK_MB = 2048
MIN_TMP_FREE_DISK_MB = 1024
DISK_CHECK_FAIL_CLOSED = true
TMP_CHECK_FAIL_CLOSED = true
UPLOAD_REQUEST_TIMEOUT_SECONDS = 600
BLOCKED_EXTENSIONS = php,phtml,phar,php3,php4,php5,asp,aspx,jsp,jspx,exe,dll,bat,cmd,com,msi,sh,bash,zsh,ps1,vbs,js,mjs,jar,war,ear,htaccess,htpasswd,html,htm,svg,swf,scr,lnk,reg,apk,ipa,dmg,pkg,deb,rpm
RECEIPT_TOKEN_REQUIRED = true
RECEIPT_TOKEN_SECRET = change-me-use-32-random-chars
ENABLE_DIRECT_UPLOAD = false
DIRECT_UPLOAD_PROVIDERS = ten_cos,ali_oss
DIRECT_UPLOAD_POLICY_TTL_SECONDS = 600
DIRECT_UPLOAD_VERIFY_OBJECT = true
DIRECT_UPLOAD_VERIFY_FAIL_CLOSED = true
DIRECT_UPLOAD_SECRET = change-me-use-32-random-chars
ENABLE_ANTIVIRUS_SCAN = false
ANTIVIRUS_SCAN_COMMAND = clamscan --no-summary --infected %s
ANTIVIRUS_SCAN_FAIL_CLOSED = true
ALERT_WEBHOOK_URL =
ANONYMOUS_UPLOAD_MINUTE_LIMIT = 12
ANONYMOUS_TOKEN_UPLOAD_HOUR_LIMIT = 80
ANONYMOUS_DAILY_UPLOAD_MB = 2048
ANONYMOUS_SHARE_CREATE_MINUTE_LIMIT = 10
ANONYMOUS_TOKEN_SHARE_HOUR_LIMIT = 60
USER_UPLOAD_MINUTE_LIMIT = 60
USER_SHARE_CREATE_MINUTE_LIMIT = 30
PUBLIC_SUBMISSION_MINUTE_LIMIT = 6
PUBLIC_SUBMISSION_TASK_HOUR_LIMIT = 20
PUBLIC_TASK_DAILY_UPLOAD_MB = 10240
PICKUP_MINUTE_LIMIT = 20
PICKUP_HOUR_LIMIT = 80
SHARE_VIEW_MINUTE_LIMIT = 40
SHARE_VIEW_HOUR_LIMIT = 240
SHARE_PASSWORD_MINUTE_LIMIT = 10
SHARE_PASSWORD_HOUR_LIMIT = 30
SHARE_DOWNLOAD_MINUTE_LIMIT = 60
SHARE_DOWNLOAD_HOUR_LIMIT = 300
QRCODE_MINUTE_LIMIT = 12
QRCODE_HOUR_LIMIT = 60
TASK_PUBLIC_MINUTE_LIMIT = 40
TASK_PUBLIC_HOUR_LIMIT = 240
TASK_ACCESS_CODE_MINUTE_LIMIT = 10
TASK_ACCESS_CODE_HOUR_LIMIT = 30
SUBMISSION_RECEIPT_MINUTE_LIMIT = 20
SUBMISSION_RECEIPT_HOUR_LIMIT = 120
MAX_ZIP_FILES = 100
MAX_ZIP_MB = 512
ZIP_MINUTE_LIMIT = 3
ALLOWED_ORIGINS = https://file.jfyuntu.com,https://file-test.jfyuntu.com,https://pic.jfyuntu.com,https://pic-test.jfyuntu.com,https://api.jfyuntu.com,https://api-test.jfyuntu.com,http://localhost:5178,http://127.0.0.1:5178
