{include file="public/head" /}
{include file="public/top" /}

<input type="hidden" id="nowhtml" value="navAlbum" class="navAlbum2">

<div class="row">
  <div class="col-xl-12">
    <div class="portlet box">
      <div class="portlet-body form">
        <form action="{:Url('AlbumController/saveAlbum')}" id="form_sample_2" class="form-horizontal" method="post" enctype="multipart/form-data" onsubmit = "return checkinfo();">
          <input type="hidden" name="album_id" value="{if $info}{$info.id}{/if}">
          <div class="control-group">
            <label class="control-label">排序</label>
            <div class="controls">
              <input name="sort" type="number" min="0" step="1" class="controls-content" value="{if $info}{$info.sort}{/if}"/>
              <span class="help-block">序号越大越靠前</span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">状态</label>
            <div class="controls">
              <div class="controls-content">
                <label class="radio">
                  <input type="radio" name="status" value="1" {if $info}{if $info.status==1}checked=checked{/if}{else}checked=checked{/if}/>
                  上架
                </label>
                <label class="radio">
                  <input type="radio" name="status" value="0" {if $info}{if $info.status==0}checked=checked{/if}{/if}/>
                  下架
                </label>
              </div>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label"><span>*</span>相册名称</label>
            <div class="controls">
              <input name="album_name" id="album_name" type="text" class="controls-content" value="{if $info}{$info.album_name}{/if}">
              <span class="help-block">请填写相册名称</span>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label"><span>*</span> 相册分类</label>
            <div class="controls">
              <select name="cate_id" class="controls-content" id="cate_id">
                {volist name="$cates" id="vo"}
                <option value="{$vo['id']}" {if $info}{if $info.cate_id==$vo['id']}selected="selected"{/if}{/if}>{$vo['cate_name']}</option>
                {/volist}
              </select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label"><span>*</span>封面图</label>
            <div class="controls">
              {include file="public/block_uploadimg_one" arr="info" arr_value="info.album_thumb" name="commonuploadpic1" size="382x372" quality="100kb" /}
            </div>
          </div>

          <div class="control-group">
            <label class="control-label"><span>*</span>相册图片</label>
            <div class="controls">
              {include file="public/block_uploadimg_multi" arr="allimg" arr_value="" name="commonuploadslide" route="" size="382x372" quality="100kb" /}
            </div>
          </div>

          <div class="control-group">
            <label class="control-label">详情介绍</label>
            <div class="controls">
              <textarea class="controls-content" id="album_info" name="album_info">{if $info}{$info.album_info}{/if}</textarea>
            </div>
          </div>


          <div class="form-actions form_nobg">
            <button type="submit" class="btn btn-primary">确定</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>

  function checkinfo(){
    var name = $("#album_name").val();
    if(!name){
      alert("相册名称不能为空");
      return false;
    }

    var thumb = $("input[name='commonuploadpic1']").val();
    if(!thumb){
      alert("请先设置缩略图");
      return false;
    }

    var listimgs = $("#imgzs").find(".thumbnail");
    if(listimgs.length==0){
      alert("请先添加相册图片");
      return false;
    }

    var album_info = $("#album_info").val();
    if(!album_info){
      alert("请输入详情");
      return false;
    }
  }
</script>



{include file="public/foot_more" /}