{include file="public/head" /}
{include file="public/top" /}

<input type="hidden" id="nowhtml" value="navAlbum" class="navAlbum2">

<div class="row">
    <div class="col-xl-12">
        <div class="portlet box">
            <div class="portlet-body">

                <div class="public_select_search_btn_box">
                    <input type="text" name="key" value="{$key}" id="key" class="search_box_content" placeholder="关键字" autocomplete="off" onkeypress="getKey()">
                    <a onclick="searchData()" class="btn btn-primary mr-10">搜索</a>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>用户</th>
                        <th>名称</th>
                        <th>缩略图</th>
                        <th>子文件数</th>
                        <th>类型</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {if $lists}
                    {foreach $lists as $item}
                    <tr>
                        <td><a href="javascript:;" data-clipboard-text="{$item.id}" onclick="copyid({$item.id})" class="badge badge-gray js-clip{$item.id}">{$item.id}</a></td>
                        <td class="text-left pl-30">
                            <img src="{$item.UserInfo['avatar']}" class="list_avatar_img">
                            {$item.UserInfo['nickname']}
                        </td>
                        <td>{$item.folder_name}</td>
                        <td><img class="list_pro_img" src="{if $item.new_thumb}{$item.new_thumb}{else}/image/noimage_1.png{/if}" /></td>
                        <td>{$item.SonCount}</td>
                        <td>
                            {if $item.folder_type == 1}
                            <span class="btn btn-sm btn-outline-primary mb-5">文件夹</span>
                            {else}
                            <span class="btn btn-sm btn-outline-danger mb-5">相册</span>
                            {/if}
                        </td>
                        <td>
                            {if $item.folder_type == 2}
                            {if $item.check_status == 0}
                            <button class="btn btn-outline-success" type="submit" onclick="changeStatus('{$item.id}', 1)">通过</button>
                            <button class="btn btn-outline-danger" type="submit" onclick="changeStatus('{$item.id}', -1)">拒绝</button>
                            {/if}
                            <a class="btn btn-outline-primary" href="{:Url('AlbumController/albumPicLists')}?album_id={$item.id}">查看</a>
                            {/if}
                            {if $item.folder_type == 1}
                            <a class="btn btn-outline-primary" href="{:Url('AlbumController/albumLists')}?album_id={$item.id}">查看</a>
                            {/if}
                            <a class="btn btn-outline-danger" onclick="return confirm('该删除操作不可逆，请谨慎操作！'); return false;" href="{:Url('AlbumController/deleteAlbum')}?album_id={$item.id}">
                                删除
                            </a>
                        </td>
                    </tr>
                    {/foreach}
                    {/if}
                    </tbody>
                </table>

                <!-- 分页 -->
                <div class="fenye_bottomBox">
                    <div class="fenye_left">
                        一共查询到<font color="red" style="padding:0 10px;">{$lists->total()}</font>条数据
                    </div>
                    <div class="fenye_right">
                        {$lists|raw}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    function changeStatus(id,status){
        layer.confirm(`是否确认审核${status == 1?'通过':'拒绝'}！`, {
            btn: ['确认', '取消'] //按钮
        }, function () {
            $.ajax({
                url:"{:Url('AlbumController/changeAlbumStatus')}",
                type:"post",
                dataType:'json',
                data:{
                    appletid: 1,
                    album_id: id,
                    check_status: status,
                },
                success:function(res){
                    if(res.code == 1){
                        layer.msg(res.msg);
                        setTimeout(function(){
                            location.reload()
                        } , 1000)
                    }
                }
            })
        });
    }

    function getKey(){
        if(event.keyCode == 13){
            searchData();
        }
    }
    function searchData(){
        var key = $("#key").val();
        var cate_id = $("#cate_id").val();
        location.href = "{:Url('AlbumController/albumLists')}?cate_id="+cate_id+'&key='+key;
    }
</script>

{include file="public/foot_more" /}