{include file="public/head" /}
{include file="public/top" /}

<input type="hidden" id="nowhtml" value="navAlbum" class="navAlbum1">

<div class="row">
    <div class="col-xl-12">
        <div class="portlet box">
            <div class="portlet-body">
                <div class="input-box mb-20">
                    <div class="btn-group mr-10">
                        <button id="sample_editable_1_new" class="btn btn-primary commonchangepic_banner" data-type="3">
                            新增照片
                        </button>
                    </div>
                </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>图片</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {if $lists}
                    {foreach $lists as $item}
                    <tr>
                        <td><a href="javascript:;" data-clipboard-text="{$item.id}" onclick="copyid({$item.id})" class="badge badge-gray js-clip{$item.id}">{$item.id}</a></td>
                        <td><img class="list_pro_img" src="{if $item.picture}{$item.picture.TruePic}{else}/image/noimage_1.png{/if}" /></td>
                        <td>
                            <a class="btn btn-outline-danger" onclick="return confirm('该删除操作不可逆，请谨慎操作！'); return false;" href="{:Url('AlbumController/deleteExampleAlbumPic')}?pic_id={$item.id}">
                                删除
                            </a>
                        </td>
                    </tr>
                    {/foreach}
                    {/if}
                    </tbody>
                </table>

                <!-- 分页 -->
                <div class="fenye_bottomBox">
                    <div class="fenye_left">
                        一共查询到<font color="red" style="padding:0 10px;">{$lists->total()}</font>条数据
                    </div>
                    <div class="fenye_right">
                        {$lists|raw}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    // 商户分类轮播图
    $("body").delegate(".commonchangepic_banner", "click", function () {
        var type = $(this).data('type');
        var classname = $(this).find("input").attr("name");
        console.log(classname)
        layer.open({
            skin: 'libaray-layui',
            type: 2,
            title: false,
            area: ['1120px'],
            fixed: false, //不固定
            closeBtn:0,
            maxmin: false,
            content: ['{:Url("Remote/index")}?appletid=1&type=' + type, 'no'],
            success: function (layero, index) {
            },
            end: function () {
                var handle_status = $("#handle_status").val();
                if (handle_status) {
                    $.ajax({
                        url:"{:Url('index/AlbumController/addAlbumPic')}",
                        type:"GET",
                        dataType:'json',
                        data:{
                            appletid: 1,
                            pids: handle_status,
                            album_id: '{$album_id}'
                        },
                        success:function(result){
                            if(result.code == 1){
                                layer.msg("操作成功！", {
                                    time: 1000,
                                });
                                setTimeout(() => {
                                    location.reload()
                                }, 1000);
                            }else{
                                alert(result.msg)
                            }
                        }
                    })
                }
            }
        });
    });


    function getKey(){
        if(event.keyCode == 13){
            searchData();
        }
    }
    function searchData(){
        var key = $("#key").val();
        var cate_id = $("#cate_id").val();
        location.href = "{:Url('AlbumController/albumLists')}?cate_id="+cate_id+'&key='+key;
    }
</script>

{include file="public/foot_more" /}