<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href='/pic/src/element.css'>
  <link rel='stylesheet' href='/pic/src/iconfont/iconfont.css'>
  <link rel='stylesheet' href='/pic/src/css/common.css?v={$Think.VERSION_APP}'>
  <title></title>
  <style>
    * {
      padding: 0;
      margin: 0;
      font-family: MicrosoftYaHei;
    }
  </style>
</head>

<body>
  <?php $backend_style = session('backend_style'); ?>
  <div id="librarySelector" style="width: 1120px">
    <div class="library-header">
      <span>
        资源选择器
      </span>
      <span class="fr pointer" @click="closeLayer">
        <i class="iconfont icon-del"></i>
      </span>
    </div>
    <div class="selector-tabs">
      <div :class="['selector-tabs-item',{'selector-tabs-item__active':activeTab == tab.value}]"
        v-for="tab in filterTabList" :key="tab.value" @click="changeTab(tab.value)">
        {{tab.label}}
      </div>
    </div>
    <div style="width:100%">
      <div class="library-list">
        <div class="library-list_left">
          <category-list :lefts="leftLists" ref="CategoryRef" @del-tag="delTag" :treeaddchild="true"
            @handle-drop="handleDrop" @search-tag="getTagList" @add-tag="addTag" @change-item="changeItem">
          </category-list>
        </div>
        <div class="library-list__right">
          <!-- 图片选择器 -->
          <library-list ref="LibraryList" :lefts="leftLists" :size="pic_limit" :loading="loading"
            :pagination="pagination" :imgs="imgList" :type="type" @change-item="changeItem" @upload-image="uploadImage"
            @get-list="getItemList" @cropper-image="getCropperImage(arguments)" @add-tag="addTag" @submit-image="submit"
            @close-image="closeLayer" @del-img="delImg" @change-parent-pagination="changeParentPagination"
            @search-tag="getTagList" @rename="rename" @handle-drop="handleDrop" v-if="activeTab === 0"></library-list>
          <!-- 视频选择器 -->
          <video-list :lefts="leftLists" :type="type" ref="VideoList" :videos="imgList" @upload-video="uploadVideoFile" :loading="loading"
            @rename="videoRename" v-else-if="activeTab === 1" @get-list="getItemList" :pagination="pagination"
            @del-video="videoFileDelete" @add-tag="addTag" @change-parent-pagination="changeParentPagination"
            @close-video="closeLayer" @submit-video="submit" :size="video_limit"></video-list>
          <!-- 文档选择器 -->
          <documentation-list v-else-if="activeTab === 2" ref="FileList" :lefts="leftLists" :files="imgList" :loading="loading"
            :type="type" @add-tag="addTag" @get-list="getItemList" :pagination="pagination" @del-file="videoFileDelete"
            @rename="videoRename" @upload-file="uploadVideoFile" @change-parent-pagination="changeParentPagination"
            @close-file="closeLayer" @submit-file="submit">
          </documentation-list>
          <!-- 音频选择器 -->
          <audio-list v-else-if="activeTab === 3" :lefts="leftLists" :type="type" ref="AudioList" :audios="imgList" @upload-audio="uploadVideoFile" :loading="loading"
            @rename="videoRename" @get-list="getItemList" :pagination="pagination"
            @del-audio="videoFileDelete" @add-tag="addTag" @change-parent-pagination="changeParentPagination"
            :size="audio_limit" @close-audio="closeLayer" @submit-audio="submit"></audio-list>
        </div>
      </div>
    </div>
  </div>
</body>
<!--
    这些资源仅在前后端不分离项目中引用
    vue 单页面项目中：httpVueLoader 不使用
    iconfont，element 使用@import引入
    axios,vue-cropper请安装npm 包
    HttpService为接口请求头设置
    jquery无需安装
   -->
<script src='/pic/src/vue.js'></script>
<script src='/pic/src/httpVueLoader.js'></script>
<script src='/pic/src/iconfont/iconfont.js'></script>
<script src='/pic/src/element.js'></script>
<script src="/pic/src/vue-cropper.js"></script>
<script src="/pic/src/axios.min.js"></script>
<script src="/pic/service/HttpService.js"></script>
<script src='/pic/service/request.js'></script>
<script src='/pic/service/api.js'></script>
<script src="/pic/src/jquery-3.0.0.min.js"></script>
<script src='/pic/src/utils/utils.js'></script>

<script>
  Vue.use(window['vue-cropper'])
  new Vue({
    el: "#librarySelector",
    data() {
      return {
        uniacid: 162,
        loading: false,
        activeTab: 0,
        from: 0,  //0:图片 1:视频 2:文件(999即富文本使用图片) 3:音频
        type: 1, // 1 为单选模式 其他 为多选模式
        fileType: '',//特殊的格式要求
        keyword: '',
        pic_params: {
          gid: -1,
          pic_name: '',
          start_time: '',
          end_time: '',
        },
        pic_limit: 0,//上传图片大小限制
				video_limit:0,
        audio_limit:0,
        pagination: {
          current_page: 1,
          per_page: 18,
          last_page: 1,
          total: 1,
        },
        leftLists: [],
        imgList: [],
        filterTabList:[],
        tabList: [{
          label: '图片',
          value: 0
        }, {
          label: '视频',
          value: 1
        }, {
          label: '文档',
          value: 2
        }, {
          label: '音频',
          value: 3
        }]
      }
    },
    components: {
      "LibraryList": httpVueLoader("/pic/components/LibraryList.vue"),
      "VideoList": httpVueLoader("/pic/components/VideoList.vue"),
      "CategoryList": httpVueLoader("/pic/components/CategoryList.vue"),
      "DocumentationList": httpVueLoader("/pic/components/DocumentationList.vue"),
      "AudioList": httpVueLoader("/pic/components/AudioList.vue")
    },
    created() {
      //获取路由参数
      this.type = this.getQueryVariable('type') || 1;
      this.uniacid = this.getQueryVariable('appletid') || 162;
      this.from = this.getQueryVariable('from') || 0
      this.fileType = this.getQueryVariable('fileType') || '';
      this.getThemeColor()
      this.filterTabListShow() //获取顶部标签
    },

    methods: {
      getThemeColor() {
        var theme_type =  14
        var theme_arr = [{ color1: '#6954F0', color2: 'rgba(105,84,240,0.15)' },
        { color1: '#373C46', color2: 'rgba(55,60,70,0.15)' },
        { color1: '#002FA4', color2: 'rgba(0,47,164,0.15)' },
        { color1: '#165AE2', color2: 'rgba(22,90,226,0.15)' },
        { color1: '#0DA29D', color2: 'rgba(13,162,157,0.15)' },
        { color1: '#0E9069', color2: 'rgba(14,144,105,0.15)' },
        { color1: '#4FA140', color2: 'rgba(79,161,64,0.15)' },
        { color1: '#FCB801', color2: 'rgba(252,184,1,0.15)' },
        { color1: '#AA7646', color2: 'rgba(170,118,70,0.15)' },
        { color1: '#FF4400', color2: 'rgba(255,68,0,0.15)' },
        { color1: '#F7201E', color2: 'rgba(247,32,30,0.15)' },
        { color1: '#FE0137', color2: 'rgba(254,1,55,0.15)' },
        { color1: '#FF3A68', color2: 'rgba(255,58,104,0.15)' },
        { color1: '#722ED1', color2: 'rgba(114,46,209,0.15)' },
        { color1: '#6954F0', color2: 'rgba(105,84,240,0.15)' }]
        document.documentElement.style.setProperty('--active-bg', theme_arr[theme_type].color1)
        document.documentElement.style.setProperty('--font-active-color', theme_arr[theme_type].color1)
        document.documentElement.style.setProperty('--border-active-color', theme_arr[theme_type].color1)
        document.documentElement.style.setProperty('--active-transe-bg', theme_arr[theme_type].color2)
      },
      filterTabListShow() {
        this.filterTabList = this.tabList.filter((item) => {
          if (this.from == 999) {
            return item.value == 0
          } else {
            return item.value == this.from
          }
        })
        this.activeTab = this.filterTabList[0]['value']
        this.getTagList()
      },
      getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
          var pair = vars[i].split("=");
          if (pair[0] == variable) { return pair[1]; }
        }
        return (false);
      },
      /**
       *切换tab
       */
      changeTab(value) {
        this.activeTab = value
        this.getTagList()
      },
      /**
       *获取分类列表
       */
      async getTagList(param = {}) {
        this.keyword = param.keyword
        try {
          let params = {
            uniacid: this.uniacid,
            type: this.activeTab
          }
          if (this.keyword) {
            params.key = this.keyword
          } else {
            delete params.key
          }
          const { data, code } = await getTagLists(params)
          if (code == 0) {
            let result = data;
            this.leftLists = []
            if (!param.keyword) {
              this.leftLists.push({
                id: -1,
                value: -1,
                name: '全部',
                children: []
              })
            }
            this.leftLists.push(...result)
            this.getList()
          }
        } catch (err) {

        }
      },
      /**
       * new_tag_name:新建、编辑分类名称
       * tag_type:父级（parant），子级（child）分类操作,移动（move）操作
       * tag_id: 子级分类操作id
       * new_tag_id:移动的新分类内容
       * pic_ids：移动的图片id
       */
      async addTag(tag) {
        // console.log("--------添加编辑分类信息---------")
        // console.log(tag)
        try {
          let url = `/index/pic/addGroup`;
          let params = {
            uniacid: this.uniacid,
            type: this.activeTab
          }
          let alertText = "添加分类成功"
          if (tag.tag_type == 'parent') {
            params.group_name = tag.new_tag_name;
            params.f_gid = '';
          } else if (tag.tag_type == 'child') {
            params.group_name = tag.new_tag_name;
            params.f_gid = tag.tag_id;
          } else if (tag.tag_type == 'edit') {
            params.gid = tag.tag_id;
            params.group_name = tag.new_tag_name;
            alertText = '编辑分类成功';
            url = `/index/pic/editGroup`
          } else if (tag.tag_type == 'move') {
            params.pic_ids = tag.pic_ids.join(',')
            params.gid = tag.new_tag_id[tag.new_tag_id.length - 1];
            url = `/index/pic/movePic`;
            this.loading = true;
            alertText = "移动图片成功"
          } else if (tag.tag_type == 'remote') {
            params.remote_url = tag.url;
            params.gid = this.pic_params.gid;
            this.loading = true;
            url = '/index/pic/remoteImage';
            alertText = "提取网络图片成功"
          } else if (tag.tag_type == 'video_move' || tag.tag_type == 'file_move' || tag.tag_type == 'audio_move') {
            params.ids = tag.pic_ids.join(',')
            params.gid = tag.new_tag_id[tag.new_tag_id.length - 1];
            url = `/index/media/move`;
            this.loading = true;
            alertText = `移动${tag.tag_type == 'video_move' ? '视频' : tag.tag_type == 'file_move' ? '文件' : '音频'}成功`
          } else if (tag.tag_type == 'remote_file') {
            params.gid = this.pic_params.gid;
            Object.assign(params, tag)
            url = '/index/media/add';
            alertText = "提取网络文件成功"
          }
          const { data, code, msg, message } = await post(url, params);
          if (code == 0) {
            this.$message.success(alertText);
            if (tag.tag_type == 'move' || tag.tag_type == 'remote') {
              //清空选择数组
              this.$refs.LibraryList.selectedImg = [];
            }
            if (tag.tag_type == 'video_move') {
              //清空选择数组
              this.$refs.VideoList.selectedVideo = [];
            }
            if (tag.tag_type == 'file_move') {
              //清空选择数组
              this.$refs.FileList.selectedFile = [];
            }
            if (tag.tag_type == 'audio_move') {
              //清空选择数组
              this.$refs.AudioList.selectedAudio = [];
            }
            this.getTagList()
          } else {
            const e = { name: 'AddTag', message: msg || message }
            throw e;
          }
        } catch (error) {
          console.log(error)
          this.$message.error(`操作失败${error.name == 'AddTag' ? '：' + error.message : ''}`)
        } finally {
          this.loading = false;
        }
      },
      /**
       * 删除分类信息
       */
      async delTag(item) {
        try {
          const { code, msg } = await delGroup({
            uniacid: this.uniacid,
            gid: item.id
          })
          if (code == 0) {
            this.$message.success('删除分类成功！');
            this.getTagList()
          } else {
            const e = { name: 'DelTag', message: msg }
            throw e
          }
        } catch (err) {
          console.log(err)
          this.$message.error(`删除分类失败${err.name == 'DelTag' ? ':' + err.message : ''}`)
        }
      },
      /**
       *左侧列表
       *id:当前激活左侧分类id
       */
      changeItem(item) {
        // console.log(item)
        /**清空选择*/
        this.pic_params = {
          gid: item.id,
          pic_name: '',
          start_time: '',
          end_time: '',
        }
        this.pagination.current_page = 1;
        if (this.$refs.LibraryList) {
          this.$refs.LibraryList.selectedImg = []
          this.$refs.LibraryList.model.all_selected = false
          this.$refs.LibraryList.changeTagName(item.label)
        }
        if (this.$refs.VideoList) {
          this.$refs.VideoList.selectedVideo = []
          this.$refs.VideoList.model.all_selected = false
          this.$refs.VideoList.changeTagName(item.label)
        }
        if (this.$refs.FileList) {
          this.$refs.FileList.selectedFile = []
          this.$refs.FileList.model.all_selected = false
          this.$refs.FileList.changeTagName(item.label)
        }
        if (this.$refs.AudioList) {
          this.$refs.AudioList.selectedAudio = []
          this.$refs.AudioList.model.all_selected = false
          this.$refs.AudioList.changeTagName(item.label)
        }
        //请求该分类下数据
        this.getList()
      },
      /**
       *右侧图库列表
       * page：页码
       * size: 每页xx数据
       * name：图片名称
       * date：日期
       */
      getItemList(params) {
        this.pagination.current_page = params.page;
        this.pic_params.pic_name = params.pic_name;
        let date = params.date || [];
        if (date.length > 0) {
          this.pic_params.start_time = date[0];
          this.pic_params.end_time = date[1]
        } else {
          this.pic_params.start_time = '';
          this.pic_params.end_time = ''
        }
        this.getList()
      },
      /**
       *
       *@formData  array ['uploadfile'+index]
       *
       */
      async uploadImage(formData) {
        try {
          this.loading = true;
          let params = {
            uniacid: this.uniacid,
            gid: this.pic_params.gid
          }
          if (this.from) {
            params.from = this.from;
          } else {
            delete params.from;
          }
          const { data } = await axios.post('/index/pic/upImage', formData, {
            params: params
          })
          if (data.code == 0) {
            this.$message.success('上传图片成功！')
            this.getList()
          } else {
            const e = { name: 'UploadFile', message: data.msg }
            throw e
          }
          //清空上传图片数组
        } catch (error) {
          this.$message.error(`上传失败${error.name == 'UploadFile' ? ':' + error.message : ''}`)
        } finally {
          this.$refs.LibraryList.selectedImg = [];
          this.$refs.LibraryList.fileData = [];
          this.loading = false;
        }
      },
      /**
       * 上传视频
       *
       */
      async uploadVideoFile(formData) {
        try {
          this.loading = true;
          formData.append('uniacid', this.uniacid)
          formData.append('gid', this.pic_params.gid)
					if (this.$refs.VideoList) {
            this.$refs.VideoList.uploadVisible = false;
          }
          const { data } = await axios.post('/media/add', formData)
          // console.log(data)
          if (data.code == 0) {
            this.$message.success('上传成功！')
            this.getList()
          } else {
            const e = { name: 'UploadVideo', message: data.message }
            throw e
          }
        } catch (error) {
          this.$message.error(`上传失败${error.name == 'UploadVideo' ? ':' + error.message : ''}`)
        } finally {
          if (this.$refs.VideoList) {
            this.$refs.VideoList.uploadVisible = false;
          }
          if (this.$refs.FileList) {
            this.$refs.FileList.fileData = [];
          }
          if (this.$refs.AudioList) {
            this.$refs.AudioList.uploadVisible = false;
          }
          this.loading = false
        }
      },
      // async uploadFile (){
      //   try {
      //     this.loading = true;
      //     formData.append('uniacid', this.uniacid)
      //     formData.append('gid', this.pic_params.gid)
      //     const { data } = await axios.post('/media/add', formData, {
      //       params: params
      //     })
      //     if (data.code == 0) {
      //       this.$message.success('上传文件成功！')
      //       this.getList()
      //     } else {
      //       const e = { name: 'UploadFile', message: data.msg }
      //       throw e
      //     }
      //     //清空上传图片数组
      //   } catch (error) {
      //     this.$message.error(`上传失败${error.name == 'UploadFile' ? ':' + error.message : ''}`)
      //   } finally {
      //     this.$refs.LibraryList.selectedImg = [];
      //     this.$refs.LibraryList.fileData = [];
      //     this.loading = false;
      //   }
      // },
      /**
       * 裁剪后图片
       *@file 裁剪后文件
       *@cropper_info 选中的裁剪图片信息
       *@saveType 保存类型 1、直接保存 2、覆盖原图
       */
      async getCropperImage(arg) {
        let file = arg[0];
        let cropper_info = arg[1];
        let saveType = arg[2];
        let formData = new FormData();
        formData.append("files", arg[0], cropper_info.name);
        this.loading = true;
        try {
          const { data } = await axios.post('/index/pic/cutImage', formData, {
            params: {
              uniacid: this.uniacid,
              type: saveType,
              pic_id: cropper_info.id
            }
          })
          if (data.code == 0) {
            this.$message.success('裁剪保存成功')
            //清空选择数组
            this.$refs.LibraryList.selectedImg = [];
            this.getList()
          } else {
            const e = { name: 'CropperImg', message: data.msg }
            throw e
          }
        } catch (error) {
          this.$message.error(`裁剪失败${error.name == 'CropperImg' ? ':' + error.message : ''}`)
        } finally {
          this.loading = false;
        }
      },

      /**
       * info:删除图片信息
       */
      async delImg(info) {
        try {
          this.loading = true;
          const { code, msg } = await delImg({
            uniacid: this.uniacid,
            pic_ids: info.pic_ids.join(',')
          })
          if (code == 0) {
            this.$message.success('删除成功')
            //清空选择数组
            this.$refs.LibraryList.selectedImg = [];
            this.getList()
          } else {
            const e = { name: 'DelImg', message: msg }
            throw e
          }
        } catch (error) {
          this.$message.error(`删除失败${error.name == 'DelImg' ? ':' + error.message : ''}`)
        } finally {
          this.loading = false;
        }
      },
      /**
       * info:删除视频,文件,音频
       */
      async videoFileDelete(info) {
        try {
          this.loading = true;
          const { code, msg } = await delVideo({
            uniacid: this.uniacid,
            ids: info.pic_ids.join(',')
          })
          if (code == 0) {
            this.$message.success('删除成功')
            //清空选择数组
            if (this.$refs.VideoList) {
              this.$refs.VideoList.selectedVideo = [];
            }
            if (this.$refs.FileList) {
              this.$refs.FileList.selectedFile = [];
            }
            if (this.$refs.AudioList) {
              this.$refs.AudioList.selectedAudio = [];
            }
            this.getList()
          } else {
            const e = { name: 'DelImg', message: msg }
            throw e
          }
        } catch (error) {
          this.$message.error(`删除失败${error.name == 'DelImg' ? ':' + error.message : ''}`)
        } finally {
          this.loading = false;
        }
      },
      /**
       *提交页码修改
       */
      changeParentPagination(pagination) {
        this.pagination = pagination;
        this.getList()
      },
      submit(values) {
        let res;
        if (this.from == 999) {
          let arr = values.map(item => { return item.src });
          res = JSON.stringify(arr)
        } else {
          if (this.type == 1) { //单选
            if (this.activeTab == 0) {
              res = values[values.length - 1]['src']
            } else if (this.activeTab == 1 || this.activeTab == 2 || this.activeTab == 3) {
              res = values[values.length - 1]
            }
          } else if (this.type == 2) {  //多选
            if (this.activeTab == 0) {
              res = values.map(item => { return item.src })
            } else if (this.activeTab == 1 || this.activeTab == 2 || this.activeTab == 3) {
              res = values.map(item => { return item.url })
            }
          } else if (this.type == 3) {  //多选 并且返回ID
            if (this.activeTab == 0) {
              res = values.map(item => { return item.id })
            } else if (this.activeTab == 1 || this.activeTab == 2 || this.activeTab == 3) {
              res = values.map(item => { return item.id })
            }
          }
        }
        if (this.activeTab == 0) {
          parent.$("#handle_status").val(res)
        } else if (this.activeTab == 1 || this.activeTab == 2 || this.activeTab == 3) {
          if (this.fileType && this.fileType == 'pdf') {
            if (!res.url.includes('.pdf') && !res.url.includes('.PDF')) {
              this.$message.error(`请选择${this.fileType}类型文件！`)
              return false
            }
          }
          //提交视频
          parent.$("#handle_status").val(JSON.stringify(res))
        }

        this.closeLayer()
      },
      closeLayer() {
        let index = parent.layer.getFrameIndex(window.name);
        parent.layer.close(index)
      },
      /**
       *图库，视频，文件，音频列表
       */
      async getList() {
        let params = Object.assign({}, {
          gid: this.pic_params.gid,
          uniacid: this.uniacid,
          page: this.pagination.current_page,
          page_size: this.pagination.per_page
        })
        if (this.activeTab == 0) {
          if (this.pic_params.pic_name) {
            params.pic_name = this.pic_params.pic_name;
          } else {
            delete params.pic_name
          }
        } else {
          if (this.pic_params.pic_name) {
            params.title = this.pic_params.pic_name;
          } else {
            delete params.title
          }
          params.form = this.activeTab
        }

        if (this.pic_params.start_time) {
          params.start_time = this.pic_params.start_time;
        } else {
          delete params.start_time
        }
        if (this.pic_params.end_time) {
          params.end_time = this.pic_params.end_time;
        } else {
          delete params.end_time
        }

        this.loading = true;
        let url = this.activeTab === 0 ? getLibararyLists : getMediaLists
        try {
          const { data, code, msg } = await url(params)
          if (code == 0) {
            // console.log(data)
            if (this.activeTab == 0) {
              this.imgList = data.lists;
              this.pagination = Object.assign({}, {
                current_page: data.curr_page,
                per_page: data.size,
                last_page: data.total_page == 0 ? 1 : data.total_page,
                total: data.total_page * data.size
              })
              this.pic_limit = data.pic_limit || 2097152;
            } else {
              this.imgList = data.list.data;
              this.pagination = Object.assign({}, {
                current_page: data.list.current_page,
                per_page:data.list.per_page,
                last_page: data.list.last_page == 0 ? 1 : data.list.last_page,
                total: data.list.total
              })
              if(this.activeTab == 3){
                this.audio_limit = data.video_limit || 2097152;
              }else{
                this.video_limit = data.video_limit || 2097152;
              }
            }
          } else {
            const e = { name: 'GetList', message: msg }
            throw e
          }
        } catch (err) {
          this.$message.error(`获取列表失败：${err.name == 'GetList' ? '：' + err.message : ''}`)
        } finally {
          this.loading = false;
          if (this.$refs.LibraryList) {
            this.$refs.LibraryList.selectedImg = [];
          }

        }
      },
      /**
       * 图片名称重命名
      */
      async rename(obj) {
        obj.uniacid = this.uniacid
        try {
          const { code, msg } = await renameImg(obj)
          if (code == 0) {
            this.$message.success('图片重命名成功！');
            if (this.$refs.LibraryList) {
              this.$refs.LibraryList.refreshRename();
            }
          } else {
            const e = { name: 'Rename', message: msg }
            throw e
          }
        } catch (err) {
          this.$message.error(`图片重命名失败${err.name == 'Rename' ? ':' + err.message : ''}`)
        }
      },
      /**
       * 视频重命名
      */
      async videoRename(obj) {
        obj.uniacid = this.uniacid
        try {
          const { code, message } = await renameVideo(obj)
          if (code == 0) {
            this.$message.success('重命名成功！');
            if (this.$refs.VideoList) {
              this.$refs.VideoList.refreshRename();
            }
            if (this.$refs.FileList) {
              this.$refs.FileList.refreshRename();
            }
            if (this.$refs.AudioList) {
              this.$refs.AudioList.refreshRename();
            }
          } else {
            const e = { name: 'Rename', message: message }
            throw e
          }
        } catch (err) {
          this.$message.error(`重命名失败${err.name == 'Rename' ? ':' + err.message : ''}`)
        }
      },
      /**
       * tree 排序
      */
      async handleDrop(arr, flag, list) {
        if (this.$refs.CategoryRef) {
          this.$refs.CategoryRef.treeLoading = true
        }
        try {
          if (arr.indexOf(-1) >= 0) {
            arr.splice(arr.indexOf(-1), 1)
          }

          let obj = {
            uniacid: this.uniacid,
            group_ids: arr.toString()
          }
          const { code, msg } = await tagSort(obj)
          if (code == 0) {
            this.$message.success(flag == 0 ? '排序成功！' : '置顶成功');
            if (this.$refs.CategoryRef) {
              if (flag == 1) {
                this.$refs.CategoryRef.leftGroups = list;
              }
              this.$refs.CategoryRef.treeLoading = false
            }

          } else {
            const e = { name: 'Rename', message: msg }
            if (this.$refs.CategoryRef) {
              this.$refs.CategoryRef.treeLoading = false
            }
            throw e
          }
        } catch (err) {
          let msg = flag == 0 ? "排序失败" : '置顶失败';
          this.$message.error(`${msg}${err.name == 'Rename' ? ':' + err.message : ''}`)
          if (this.$refs.CategoryRef) {
            this.$refs.CategoryRef.treeLoading = false
          }
        }
      }
    },

  })
</script>

</html>
