{include file="public/head" /}
{include file="public/top" /}

<input type="hidden" id="nowhtml" value="navSystem" class="navSystem2">

<div class="row">
    <div class="portlet box">
        <div class="portlet-body form">
            <form action="{:Url('SystemSetController/saveRemote')}" id="form_sample_2" class="form-horizontal" method="post" enctype="multipart/form-data" onsubmit = "return checkinfo();">
                <div id="useset">
                    <div class="control-group">
                        <label class="control-label">远程附件</label>
                        <div class="controls">
                            <select name="remote" class="controls-content" id="remote" onchange="change()">
                                <option value="1" {if $base}{if $base.remote==1}selected=selected{/if}{/if}>平台服务器</option>
<!--                                <option value="2" {if $base}{if $base.remote==2}selected=selected{/if}{/if}>七牛云存储</option>-->
                                <option value="3" {if $base}{if $base.remote==3}selected=selected{/if}{/if}>阿里云OSS</option>
                                <option value="4" {if $base}{if $base.remote==4}selected=selected{/if}{/if}>腾讯云COS</option>
                            </select>
                        </div>
                    </div>

                    <div class="qiniu" style="{if $base}{if $base.remote==2}display: block{else}display: none{/if}{/if}">
                        <div class="control-group">
                            <label class="control-label">所属区域</label>
                            <div class="controls">
                                <select name="area_code" class="controls-content" onchange="change()">
                                    <option value="ECN" {if $remote2}{if $remote2.area_code=='ECN'}selected=selected{/if}{/if}>华东</option>
                                    <option value="NCN" {if $remote2}{if $remote2.area_code=='NCN'}selected=selected{/if}{/if}>华北</option>
                                    <option value="SCN" {if $remote2}{if $remote2.area_code=='SCN'}selected=selected{/if}{/if}>华南</option>
                                    <option value="NA" {if $remote2}{if $remote2.area_code=='NA'}selected=selected{/if}{/if}>北美</option>
                                </select>
                            </div>
                        </div>

                        <div class="control-group">
                            <label class="control-label"><span>*</span> 存储空间名称(Bucket)</label>
                            <div class="controls">
                                <input name="bucket2" id="bucket2" type="text" class="controls-content" value="{if $remote2}{$remote2.bucket}{/if}">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><span>*</span> 绑定域名(或测试域名)</label>
                            <div class="controls">
                                <input name="domain2" type="text" class="controls-content" value="{if $remote2}{$remote2.domain}{/if}">
                                <span class="help-block">例子：http://abstehdsdw.bkt.clouddn.com，请加上http://或https://，结尾不需要/</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">文件夹</label>
                            <div class="controls">
                                <input name="folder_name_1" id="folder_name_1" type="text" class="controls-content" value="{if $remote2}{$remote2.folder_name}{/if}">
                                <span class="help-block">存入的文件名称，示例：cloud 或者 cloud/project</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><span>*</span> AccessKey（AK）</label>
                            <div class="controls">
                                <input name="ak2" id="ak2" type="text" class="controls-content" value="{if $remote2}{$remote2.ak}{/if}">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><span>*</span> SecretKey（SK）</label>
                            <div class="controls">
                                <input name="sk2" id="sk2" type="text" class="controls-content" value="{if $remote2}{$remote2.sk}{/if}">
                            </div>
                        </div>
                    </div>
                    <div class="ali" style="{if $base}{if $base.remote==3}display: block{else}display: none{/if}{/if}">
                        <div class="control-group">
                            <label class="control-label"><span>*</span> 存储空间名称(Bucket)</label>
                            <div class="controls">
                                <input name="bucket3" id="bucket3" type="text" class="controls-content" value="{if $remote3}{$remote3.bucket}{/if}">
                                <span class="help-block">请设置存储空间为公共读</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><span>*</span> Endpoint</label>
                            <div class="controls">
                                <input name="domain3" id="domain3" type="text" class="controls-content" value="{if $remote3}{$remote3.domain}{/if}">
                                <span class="help-block">例子：http://oss-cn-beijing.aliyuncs.com</span>
                            </div>
                        </div>

                        <div class="control-group">
                            <!--新增的字段-->
                            <label class="control-label"><span>*</span> 是否开启自定义域名</label>
                            <div class="controls">
                                <div class="controls-content">
                                    <label class="radio">
                                        <input type="radio" name="domainIs" value="2"  {if $remote3}{if $remote3.domainIs==2}checked="checked"{/if}{else}checked="checked"{/if}{/if}>
                                        否
                                    </label>
                                    <label class="radio">
                                        <input type="radio" name="domainIs" value="1" {if $remote3}{if $remote3.domainIs==1}checked="checked"{/if}{/if}></span>
                                        是
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><span></span>自定义域名</label>
                            <div class="controls">
                                <input name="domain_bind" type="text" class="controls-content" value="{if $remote3}{$remote3.domain_bind}{/if}">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><span></span>文件夹</label>
                            <div class="controls">
                                <input name="folder_name_2" type="text" class="controls-content" value="{if $remote3}{$remote3.folder_name}{/if}">
                                <span class="help-block">存入的文件名称，示例：cloud 或者 cloud/project</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><span>*</span> Access Key ID</label>
                            <div class="controls">
                                <input name="ak3" id="ak3" type="text" class="controls-content" value="{if $remote3}{$remote3.ak}{/if}">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label"><span>*</span> Access Key Secret</label>
                            <div class="controls">
                                <input name="sk3" id="sk3" type="text" class="controls-content" value="{if $remote3}{$remote3.sk}{/if}">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">图片样式接口（选填）</label>
                            <div class="controls">
                                <input name="imgstyle3" type="text" class="controls-content" value="{if $remote3}{$remote3.imgstyle}{/if}">
                                <span class="help-block">例子：x-oss-process=style/stylename</span>
                            </div>
                        </div>
                    </div>

                    <div class="tengxunyun" style="{if $base}{if $base.remote==4}display: block{else}display: none{/if}{/if}">
                        <div class="control-group">
                            <label class="control-label">存储空间(Bucket)<span style="color:red">*</span></label>
                            <div class="controls">
                                <input name="bucket4" type="text" class="controls-content" value="{if $remote4}{$remote4.bucket}{/if}" style="height: 35px !important;">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">存储空间名称(Region)<span style="color:red">*</span></label>
                            <div class="controls">
                                <input name="region4" type="text" class="controls-content" value="{if $remote4}{$remote4.region}{/if}" style="height: 35px !important;">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">自定义CDN域名</label>
                            <div class="controls">
                                <input name="domain_bind4" type="text" class="controls-content" value="{if $remote4}{$remote4.domain_bind}{/if}" style="height: 35px !important;">
                                <span class="help-block">例子：必须为https://结尾不加 ‘/’例：https://img.xxx.com</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">文件夹</label>
                            <div class="controls">
                                <input name="folder_name_3" type="text" class="controls-content" value="{if $remote4}{$remote4.folder_name}{/if}" style="height: 35px !important;">
                                <span class="help-block">存入的文件名称，示例：cloud 或者 cloud/project</span>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">SecretKEY<span style="color:red">*</span></label>
                            <div class="controls">
                                <input name="ak4" type="text" class="controls-content" value="{if $remote4}{$remote4.ak}{/if}" style="height: 35px !important;">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">SecretID<span style="color:red">*</span></label>
                            <div class="controls">
                                <input name="sk4" type="text" class="controls-content" value="{if $remote4}{$remote4.sk}{/if}" style="height: 35px !important;">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-actions form_nobg">
                    <button type="submit" class="btn btn-primary">确定</button>
                </div>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    function change(){
        var remote = $("#remote option:selected").val();
        if(remote == 1){
            $("#size").show();
            $(".qiniu").hide();
            $(".ali").hide();
            $(".test_con").hide();
            $(".tengxunyun").hide();
        }else if(remote == 2){
            $(".qiniu").show();
            $(".ali").hide();
            $(".test_con").show();
            $(".tengxunyun").hide();
            $("#size").hide();
        }else if(remote == 3){
            $(".qiniu").hide();
            $(".ali").show();
            $(".test_con").show();
            $(".tengxunyun").hide();
            $("#size").hide();
        }else if(remote == 4){
            $(".qiniu").hide();
            $(".ali").hide();
            $(".test_con").show();
            $(".tengxunyun").show();
            $("#size").hide();
        }

    }

</script>



{include file="public/foot_more" /}