{include file="public/head" /}
{include file="public/top" /}

<input type="hidden" id="nowhtml" value="navSystem" class="navSystem1">

<div class="row">
    <div class="col-xl-12">
        <div class="portlet box ">
            <div class="portlet-body">

                <div class="tabs_v3 tabs_v3_click">
                    <ul>
                        <li class="tabs_v3_active">设置</li>
<!--                        <li>菜单设置</li>-->
<!--                        <li>公共信息</li>-->
<!--                        <li>活动设置</li>-->
                    </ul>
                </div>

                <form action="{:Url('SystemSetController/saveBase')}" id="form_sample_2" class="form-horizontal" method="post" enctype="multipart/form-data" onsubmit="return checkinfo();">
                    <div class="tabs_v3_content">
                        <div class="tabs_v3_content_box">
                            <div class="alert alert-light">基础信息</div>
                            <div class="control-group">
                                <label class="control-label">默认空间</label>
                                <div class="controls">
                                    <div class="controls-content controls-content-input-group">
                                        <input name="space_size" id="space_size" type="number" min="0" step="1" class="controls-content-input-group-lb" value="{if $systems}{$systems.space_size}{/if}" />
                                        <span class="controls-content-input-group-last">M</span>
                                    </div>
                                    <span class="help-block">普通用户默认存储空间大小，单位M</span>
                                </div>
                            </div>

<!--                            <div class="control-group">-->
<!--                                &lt;!&ndash;新增的字段&ndash;&gt;-->
<!--                                <label class="control-label">口碑审核</label>-->
<!--                                <div class="controls">-->
<!--                                    <div class="controls-content">-->
<!--                                        <label class="radio">-->
<!--                                            <input type="radio" name="evaluate_check" value="0"  {if $systems}{if $systems.evaluate_check==0}checked="checked"{/if}{else}checked="checked"{/if}{/if}>-->
<!--                                            否-->
<!--                                        </label>-->
<!--                                        <label class="radio">-->
<!--                                            <input type="radio" name="evaluate_check" value="1" {if $systems}{if $systems.evaluate_check==1}checked="checked"{/if}{/if}></span>-->
<!--                                            是-->
<!--                                        </label>-->
<!--                                    </div>-->
<!--                                    <span class="help-block">用户提交的口碑是否需要审核</span>-->
<!--                                </div>-->
<!--                            </div>-->

                            <div class="control-group">
                                <!--新增的字段-->
                                <label class="control-label">相册审核</label>
                                <div class="controls">
                                    <div class="controls-content">
                                        <label class="radio">
                                            <input type="radio" name="pic_check" value="0"  {if $systems}{if $systems.pic_check==0}checked="checked"{/if}{else}checked="checked"{/if}{/if}>
                                            否
                                        </label>
                                        <label class="radio">
                                            <input type="radio" name="pic_check" value="1" {if $systems}{if $systems.pic_check==1}checked="checked"{/if}{/if}></span>
                                            是
                                        </label>
                                    </div>
                                    <span class="help-block">用户上传的相册是否需要审核</span>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">新闻链接</label>
                                <div class="controls">
                                    <input name="news_link" id="news_link" type="text" class="controls-content" value="{if $systems}{$systems.news_link}{/if}">
                                    <span class="help-block">填写公众号链接</span>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">客服链接</label>
                                <div class="controls">
                                    <input name="kf_link" id="kf_link" type="text" class="controls-content" value="{if $systems}{$systems.kf_link}{/if}">
                                    <span class="help-block">填写公众号链接</span>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">访问增量</label>
                                <div class="controls">
                                    <input name="visit_bei" id="visit_bei" type="number" min="1" step="1" class="controls-content" value="{if $systems}{$systems.visit_bei}{/if}">
                                    <span class="help-block">访问增量，例如填10，每次访问增量值为1-10之间的随机数</span>
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">客服二维码</label>
                                <div class="controls">
                                    {include file="public/block_uploadimg_one" arr="systems" arr_value="systems.kf_ewm" name="commonuploadpic1" size="382x372" quality="100kb" /}
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label">小程序分享图</label>
                                <div class="controls">
                                    {include file="public/block_uploadimg_one" arr="systems" arr_value="systems.share_thumb" name="commonuploadpic2" size="382x372" quality="100kb" /}
                                </div>
                            </div>

                            <div class="control-group">
                                <label class="control-label" >使用帮助</label>
                                <div class="controls">
                                    <div class="editors">
                                        <script id="editor" name="about" type="text/plain">{if $systems}{$systems.about|raw}{/if}</script>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tabs_v3_content_box">

                        </div>

                        <div class="tabs_v3_content_box">

                        </div>

                        <div class="tabs_v3_content_box">

                        </div>

                    </div>

                    <div class="form-actions form_nobg">
                        <button type="submit" class="btn btn-primary" >确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" type="text/css" href="/assets/plugin/datepicker/datepicker.css"  />
<script type="text/javascript" src="/assets/plugin/datepicker/moment.min.js"></script>
<script type="text/javascript" src="/assets/plugin/datepicker/datepicker.all.min.js"></script>

<script type="text/javascript" charset="utf-8" src="/plugin/ueditor/ueditor.config.js"></script>
<script type="text/javascript" charset="utf-8" src="/plugin/ueditor/ueditor.all.js"> </script>
<script type="text/javascript" charset="utf-8" src="/plugin/ueditor/lang/zh-cn/zh-cn.js"></script>
<script>

    var ue;
    $(function() {
        ue = UE.getEditor('editor');
    });

    // 商户分类轮播图
    $("body").delegate(".commonchangepic_banner", "click", function () {
        var type = $(this).data('type');
        var classname = $(this).find("input").attr("name");
        console.log(classname)
        layer.open({
            skin: 'libaray-layui',
            type: 2,
            title: false,
            area: ['1120px'],
            fixed: false, //不固定
            closeBtn:0,
            maxmin: false,
            content: ['{:Url("Remote/index")}?appletid=1&type=' + type, 'no'],
            success: function (layero, index) {
            },
            end: function () {
                if (type == 1) {
                    var handle_status = $("#handle_status").val();
                    if (handle_status) {
                        $("input[name=" + classname + "]").val(handle_status)
                        $("." + classname + " img").attr("src", handle_status)
                        $("#handle_status").val("");
                        $("#" + classname).val(handle_status)
                    }
                }
            }
        });
    });

    var bi = (($('.bannersBox').find('.box_banner').length) + 1) * 1;
    function addBanner() {
        var str = `<div class="box_banner del_b${bi}">
									<div class="control-group">
										<label class="control-label"><span>*</span> Banner</label>
										<div class="controls">
											<input type="hidden" name="banner_imgs[]" id="banner_img${bi}" value="">
											<div class="fileupload fileupload_v3 controls-content" data-provides="fileupload">
												<div class="thumbnail banner_img${bi}">
													<img src="/image/noimage_1.png" alt=""/>
												</div>
												<div class="add_imgs commonchangepic_banner" data-type="1">
													<div>+</div>选择图片<input type="hidden" name="banner_img${bi}">
												</div>
											</div>
											<span class="help-block">建议尺寸<em class="badge badge-danger">710*300</em>，不超过100kb</span>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">链接</label>
										<div class="controls">
											<input name="banner_url[]" id="bannerlinkurl${bi}" type="text" data-bind="linkurl" class="controls-content" value="" />
											<span class="help-block">小程序页面地址，示例：/pages/index/index</span>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label"></label>
										<div class="controls">
											<div class="controls-content">
												<span class="btn btn-outline-danger" onclick="delb(${bi})">删除</span>
											</div>
										</div>
									</div>
								</div>`;
        $(".bannersBox").append(str);
        ++bi;
    }
    function delb(j) {
        $(".del_b" + j).remove();
    }

    $("body").delegate(".commonchangepic_menu", "click", function () {
        var type = $(this).data('type');
        var classname = $(this).find("input").attr("name");
        console.log(classname)
        layer.open({
            skin: 'libaray-layui',
            type: 2,
            title: false,
            area: ['1120px'],
            fixed: false, //不固定
            closeBtn:0,
            maxmin: false,
            content: ['{:Url("Remote/index")}?appletid=1&type=' + type, 'no'],
            success: function (layero, index) {
            },
            end: function () {
                if (type == 1) {
                    var handle_status = $("#handle_status").val();
                    if (handle_status) {
                        $("input[name=" + classname + "]").val(handle_status)
                        $("." + classname + " img").attr("src", handle_status)
                        $("#handle_status").val("");
                        $("#" + classname).val(handle_status)
                    }
                }
            }
        });
    });

    var mi = (($('.menusBox').find('.box_menu').length) + 1) * 1;
    function addMenu() {
        var str = `<div class="box_menu del_m${mi}">
									<div class="control-group">
										<label class="control-label"><span>*</span> 菜单</label>
										<div class="controls">
											<input type="hidden" name="menu_imgs[]" id="menu_img${mi}" value="">
											<div class="fileupload fileupload_v3 controls-content" data-provides="fileupload">
												<div class="thumbnail menu_img${mi}">
													<img src="/image/noimage_1.png" alt=""/>
												</div>
												<div class="add_imgs commonchangepic_menu" data-type="1">
													<div>+</div>选择图片<input type="hidden" name="menu_img${mi}">
												</div>
											</div>
											<span class="help-block">建议尺寸<em class="badge badge-danger">710*124</em>，不超过100kb</span>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label">链接</label>
										<div class="controls">
											<input name="menu_url[]" id="menulinkurl${mi}" type="text" data-bind="linkurl" class="controls-content" value="" />
											<span class="help-block">小程序页面地址，示例：/pages/index/index</span>
										</div>
									</div>
									<div class="control-group">
										<label class="control-label"></label>
										<div class="controls">
											<div class="controls-content">
												<span class="btn btn-outline-danger" onclick="delm(${mi})">删除</span>
											</div>
										</div>
									</div>
								</div>`;
        $(".menusBox").append(str);
        ++mi;
    }
    function delm(j) {
        console.log(1233)
        $(".del_m" + j).remove();
    }

    $("body").delegate(".commonchangepic_active", "click", function () {
        var type = $(this).data('type');
        var classname = $(this).find("input").attr("name");
        console.log(classname)
        layer.open({
            skin: 'libaray-layui',
            type: 2,
            title: false,
            area: ['1120px'],
            fixed: false, //不固定
            closeBtn:0,
            maxmin: false,
            content: ['{:Url("Remote/index")}?appletid=1&type=' + type, 'no'],
            success: function (layero, index) {
            },
            end: function () {
                if (type == 1) {
                    var handle_status = $("#handle_status").val();
                    if (handle_status) {
                        $("input[name=" + classname + "]").val(handle_status)
                        $("." + classname + " img").attr("src", handle_status)
                        $("#handle_status").val("");
                        $("#" + classname).val(handle_status)
                    }
                }
            }
        });
    });

    var ai = (($('.activesBox').find('.box_active').length) + 1) * 1;
    function addActive() {
        var str = `<div class="box_active del_a${ai}">
									<div class="control-group">
										<label class="control-label"><span>*</span> 弹窗图</label>
										<div class="controls">
											<input type="hidden" name="active_imgs[]" id="active_img${ai}" value="">
											<div class="fileupload fileupload_v3 controls-content" data-provides="fileupload">
												<div class="thumbnail active_img${ai}">
													<img src="/image/noimage_1.png" alt=""/>
												</div>
												<div class="add_imgs commonchangepic_active" data-type="1">
													<div>+</div>选择图片<input type="hidden" name="active_img${ai}">
												</div>
											</div>
											<span class="help-block">建议尺寸<em class="badge badge-danger">500*700</em>，不超过100kb</span>
										</div>
									</div>

									<div class="control-group">
										<label class="control-label">链接</label>
										<div class="controls">
											<input name="active_url[]" id="activelinkurl${ai}" type="text" data-bind="linkurl" class="controls-content" value="" />
											<span class="help-block">小程序页面地址，示例：/pages/index/index</span>
										</div>
									</div>
                                    <div class="control-group">
                                        <label class="control-label">活动时间</label>
                                        <div class="controls">
                                            <div class="controls-content controls-content-multi-input datetimepicker_box_date_1" lay-key="2">
                                                <input name="active_start[]" id="" type="text" placeholder="请选择开始时间" value="">
                                                <span class="ml-5 mr-5">至</span>
                                                <input name="active_end[]" id="" type="text" placeholder="请选择结束时间" value="">
                                            </div>
                                        </div>
                                    </div>
									<div class="control-group">
										<label class="control-label"></label>
										<div class="controls">
											<div class="controls-content">
												<span class="btn btn-outline-danger" onclick="dela(${ai})">删除</span>
											</div>
										</div>
									</div>
								</div>`;
        $(".activeBox").append(str);
        ++ai;

        //时分秒年月日范围
        $('.datetimepicker_box_date_1').datePicker({
            hasShortcut: true,
            isRange: true,
            // format: 'YYYY-MM-DD',
            shortcutOptions: [{
                name: '今天',
                day: '0,0'
            },{
                name: '昨天',
                day: '-1,-1'
            },{
                name: '未来一周',
                day: '0,7'
            }, {
                name: '未来一个月',
                day: '0,30'
            }, {
                name: '未来三个月',
                day: '0,90'
            }],
            hide: function (type) {
                //console.info(this.$input.eq(0).val(), this.$input.eq(1).val());
                //console.info('类型：',type)
            }
        });
    }
    function dela(j) {
        $(".del_a" + j).remove();
    }

    function checkinfo(){
        var _len = ($('.bannersBox').find('.box_banner').length) * 1;
        if(_len > 0){
            let _list = $('input[name="banner_imgs[]"]');
            for(var i=0; i<_list.length; i++){
                if(!_list[i].value){
                    alert('Banner不能为空');
                    return false;
                }
            }
        }

        var _len_m = ($('.meunsBox').find('.box_menu').length) * 1;
        if(_len_m > 0){
            let _list = $('input[name="menu_imgs[]"]');
            for(var i=0; i<_list.length; i++){
                if(!_list[i].value){
                    alert('菜单图片不能为空');
                    return false;
                }
            }
        }
    }

    jQuery(document).ready(function() {
        //年月日范围
        $('.datetimepicker_box_date_1').datePicker({
            hasShortcut: true,
            isRange: true,
            // format: 'YYYY-MM-DD',
            shortcutOptions: [{
                name: '今天',
                day: '0,0'
            },{
                name: '昨天1',
                day: '-1,-1'
            },{
                name: '未来一周',
                day: '0,7'
            }, {
                name: '未来一个月',
                day: '0,30'
            }, {
                name: '未来三个月',
                day: '0,90'
            }],
            hide: function (type) {
                //console.info(this.$input.eq(0).val(), this.$input.eq(1).val());
                //console.info('类型：',type)
            }
        });
    })
</script>


{include file="public/foot_more" /}