
---
import StandardLayout from '@/layouts/StandardLayout.astro'
import CreateCollectionTaskForm from '@/components/create-collection-task/CreateCollectionTaskForm.vue'
---

<StandardLayout title="创建收集任务 - 织序传输">
  <div class="page-body">
    <CreateCollectionTaskForm client:load />
  </div>
</StandardLayout>
