
---
import StandardLayout from '@/layouts/StandardLayout.astro'
import DeliveryRecordList from '@/components/delivery_records/DeliveryRecordList.vue'
---

<StandardLayout title="交付记录 - 织序传输">
  <main class="page-body">
    <DeliveryRecordList client:load />
  </main>
</StandardLayout>
