
---
import StandardLayout from '@/layouts/StandardLayout.astro'
import TaskDetailsContent from '@/components/task-details/TaskDetailsContent.vue'
import { CollectionTaskService } from '@/data/CollectionTaskService'
import { SubmissionService } from '@/data/SubmissionService'

const taskId = Astro.url.searchParams.get('taskId') || CollectionTaskService.getAll()[0]?.id || 'task-001'
const task = CollectionTaskService.getById(taskId)
const submissions = SubmissionService.query({ filter: { collectionTaskId: taskId } })

const pageTitle = task?.name || '收集任务详情'
---

<StandardLayout title={pageTitle}>
  <div class="page-body">
    <TaskDetailsContent 
      client:load 
      {task} 
      {submissions}
      {taskId}
    />
  </div>
</StandardLayout>
