
---
import ManagementLayout from '@/layouts/ManagementLayout.astro'
import ProductEditForm from '@/components/product_edit/ProductEditForm.vue'

const title = '产品编辑'
---

<ManagementLayout title={title}>
  <div class="page-body">
    <ProductEditForm client:load />
  </div>
</ManagementLayout>
