{include file="public/head" /}
{include file="public/top" /}

<style>
  .contentbox{
    background-color: #fff;
  }

  .fa-box{
    width:100%;
    display: block;
    margin: 0 auto;
    margin-top: 15%;
  }

  .we-img{
    display: block;
    margin: auto;
    width: 30%;
  }


  .font-default{
    width: 30%;
    display: flex;
    margin: 0 auto;
    text-align: center;
  }

  .font-default div{
    margin-left: 15px;
    color:#6954F0;
  }

  .we-time{

    width: 26%;
    display: flex;
    margin: 0 auto;
    margin-top: 5%;
  }
</style>
<div class="fa-box">
  <div class="we-img">
    <img src="/image/welcome.png" alt="">
  </div>


</div>

{include file="public/foot_more" /}