{include file="public/head" /}
{include file="public/top" /}

<input type="hidden" id="nowhtml" value="navFx" class="navFx4">
<style type="text/css">
    .flex_box {
        display: flex;
        align-items: baseline;
    }
    .user_nickname {
        width: 115px;
        word-break: break-all;
    }
</style>

<div class="row">
    <div class="col-xl-12">
        <div class="portlet box">
            <div class="public_select_search_btn_box">
                <div class="search_box_content search_box_title">状态:</div>
                <select class="search_box_content" name="status" id="status" >
                    <option value="100" {if isset($status)}{if $status==100} selected="selected" {/if}{/if} >全部</option>
                    <option value="0" {if isset($status)}{if $status=='0'} selected="selected" {/if}{/if} >待审核</option>
                    <option value="1" {if isset($status)}{if $status=='1'} selected="selected" {/if}{/if} >已通过</option>
                    <option value="2" {if isset($status)}{if $status=='2'} selected="selected" {/if}{/if} >已拒绝</option>
                </select>
                <input type="text" name="key" value="{$key}" id="key" class="search_box_content" placeholder="昵称或手机号的关键字" autocomplete="off" onkeypress="getKey()">
                <span class="search_box_content datetimepicker_box">
                    <input type="text" value="{$start_get}"  name="start_get"   readonly id="datetimepicker" placeholder="请选择开始时间"  >
                    <span class="mr-12">至</span>
                    <input type="text" value="{$end_get}" name="end_get" readonly id="datetimepicker2" placeholder="请选择结束时间">
                </span>
                <a onclick="searchData()" class="btn btn-primary mr-10">搜索</a>
                <!--                <a onclick="toExcel()" class="btn btn-success mr-10" />导出</a>-->
            </div>

            <div class="portlet-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th style="width: 120px;">ID</th>
                        <th style="width: 200px;">分销商</th>
                        <th style="width: 160px;">提现金额</th>
                        <th style="width: 160px;">打款金额</th>
                        <th style="width: 160px;">手续费</th>
<!--                        <th style="width: 160px;">真实姓名</th>-->
                        <th style="width: 160px;">申请时间</th>
                        <th style="width: 260px;">操作</th>
                    </tr>
                    </thead>

                    <tbody>
                    {foreach $lists as $item}
                    <tr>
                        <td>{$item.id}</td>
                        <td class="text-left pl-30">
                            <img src="{$item.UserInfo['avatar']}" class="list_avatar_img">
                            {$item.UserInfo['nickname']}
                        </td>
                        <td>{$item.total_money}</td>
                        <td>{$item.transfer_money}</td>
                        <td>{$item.charge_money}</td>
<!--                        <td>{$item.true_name}</td>-->
                        <td>{$item.create_time}</td>
                        <td>
                            {if $item.status == 0}
                            <a onclick="return confirm('确定打款吗？该操作不可逆，请谨慎操作！'); return false;" href="{:Url('DistributionController/checkStatus')}?id={$item.id}&operate=100">
                                <button class="btn btn-outline-primary" type="submit" >线上打款</button>
                            </a>
                            <a onclick="return confirm('确定该操作吗？该操作不可逆，请谨慎操作！'); return false;" href="{:Url('DistributionController/checkStatus')}?id={$item.id}&operate=200">
                                <button class="btn btn-outline-primary" type="submit" >线下打款</button>
                            </a>
                            <a onclick="return confirm('确定拒绝吗？该操作不可逆，请谨慎操作！'); return false;" href="{:Url('DistributionController/checkStatus')}?id={$item.id}&operate=-1">
                                <button class="btn btn-outline-danger" type="submit" >拒绝</button>
                            </a>
                            {/if}
                            {if $item->status == -1}
                            <span class="btn btn-sm btn-outline-dark">已拒绝</span>
                            {/if}
                            {if $item->status == 1}
                            <span class="btn btn-sm btn-outline-success">已打款</span>
                            {/if}
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>

                <!-- 分页 -->
                <div class="fenye_bottomBox">
                    <div class="fenye_left">
                        一共查询到<font color="red" style="padding:0 10px;">{$lists->total()}</font>条数据
                    </div>
                    <div class="fenye_right">
                        {$lists|raw}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    function getKey() {
        if (event.keyCode == 13) {
            searchData();
        }
    }
    function searchData() {
        var key = $('#key').val();
        var status = $('#status').val();
        var start_get = $("#datetimepicker").val();
        var end_get = $("#datetimepicker2").val();
        window.location.href = "{:Url('DistributionController/commission')}?key=" + key+'&status='+status+'&start_get='+start_get+'&end_get='+end_get;
    }

    function toExcel() {
        var user_info = $('#user_info').val();
        location.href = "{:Url('DistributionController/toUserExcel')}?user_info=" + user_info + "&toexcel=1";
    }


</script>


{include file="public/foot_more" /}
