{include file="public/head" /}
{include file="public/top" /}

<input type="hidden" id="nowhtml" value="navFx" class="navFx2">
<style type="text/css">
    .flex_box {
        display: flex;
        align-items: baseline;
    }
    .user_nickname {
        width: 115px;
        word-break: break-all;
    }
</style>

<div class="row">
    <div class="col-xl-12">
        <div class="portlet box">
            <div class="public_select_search_btn_box">
                <input type="text" name="user_info" value="{if isset($_GET['user_info'])}{$_GET['user_info']}{/if}" id="user_info" class="search_box_content" placeholder="昵称或手机号的关键字" autocomplete="off" onkeypress="getKey()">
                <a onclick="searchData()" class="btn btn-primary mr-10">搜索</a>
<!--                <a onclick="toExcel()" class="btn btn-success mr-10" />导出</a>-->
            </div>

            <div class="portlet-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th style="width: 120px;">ID</th>
                        <th style="width: 300px;">用户信息</th>
                        <th style="width: 200px;">累计佣金</th>
                        <th style="width: 160px;">佣金余额</th>
                        <th style="width: 160px;">订单数量</th>
                        <th style="width: 160px;">下级数量</th>
                        <th style="width: 260px;">状态</th>
                    </tr>
                    </thead>

                    <tbody>
                    {if $user}
                    {foreach $user as $item}
                    <tr>
                        <td>
                            {$item.id}
                        </td>
                        <td class="text-left">
                            <img src="{$item.avatar}" onerror="this.src='/image/users/user_default.png'" class="list_avatar_img align-baseline mr-10" >
                            <div class="d-inline-block">
                                <div class="mb-5 flex_box">
                                    <span class="badge badge-info mr-10">昵称</span>
                                    <div class="user_nickname">{$item.nickname}</div>
                                </div>
                                {if $item.mobile}<div class="mb-5"><span class="badge badge-warning mr-10">手机</span>{$item.mobile}</div>{/if}
                            </div>
                        </td>

                        <td>
                            {$item.total_commission}
                        </td>
                        <td>{$item.current_commission}</td>
                        <td>
                            <span class="btn btn-sm btn-outline-dark"	onclick="toOrder({$item['id']})">{$item->orderDistribution()->count()}</span>
                        </td>
                        <td>
                            {$item->SonCount}
                        </td>
                        <td>
                            {if $item.distribution_status == 1}
                            <span class="btn btn-sm btn-outline-primary mb-5" onClick="changeStatus('{$item.id}','{$item.distribution_status}')">启用中</span>
                            {else}
                            <span class="btn btn-sm btn-outline-danger mb-5" onClick="changeStatus('{$item.id}','{$item.distribution_status}')">禁用中</span>
                            {/if}
                        </td>
                    </tr>
                    {/foreach}
                    {/if}
                    </tbody>
                </table>

                <!-- 分页 -->
                <div class="fenye_bottomBox">
                    <div class="fenye_left">
                        一共查询到<font color="red" style="padding:0 10px;">{$user->total()}</font>条数据
                    </div>
                    <div class="fenye_right">
                        {$user|raw}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    function getKey() {
        if (event.keyCode == 13) {
            searchData();
        }
    }
    function searchData() {
        var user_info = $('#user_info').val();
        window.location.href = "{:Url('DistributionController/lists')}?user_info=" + user_info;
    }

    function toExcel() {
        var user_info = $('#user_info').val();
        location.href = "{:Url('DistributionController/toUserExcel')}?user_info=" + user_info + "&toexcel=1";
    }

    function changeStatus(id,status){
        layer.confirm(`是否确认${status == 1?'禁用':'启用'}！`, {
            btn: ['确认', '取消'] //按钮
        }, function () {
            $.ajax({
                url:"{:Url('DistributionController/changeDistributioStatus')}",
                type:"post",
                dataType:'json',
                data:{
                    uniacid: 1,
                    user_id: id
                },
                success:function(res){
                    if(res.code == 1){
                        layer.msg(res.msg);
                        setTimeout(function(){
                            location.reload()
                        } , 1000)
                    }
                }
            })
        });
    }

    function toOrder(id) {
        location.href = "{:Url('DistributionController/orders')}?distribution_id=" + id;
    }
</script>


{include file="public/foot_more" /}
