{include file="public/head" /}
{include file="public/top" /}

<input type="hidden" id="nowhtml" value="navFx" class="navFx3">
<style type="text/css">
    .flex_box {
        display: flex;
        align-items: baseline;
    }
    .user_nickname {
        width: 115px;
        word-break: break-all;
    }
</style>

<div class="row">
    <div class="col-xl-12">
        <div class="portlet box">
            <div class="public_select_search_btn_box">
                <div class="search_box_content search_box_title">类型:</div>
                <select class="search_box_content" name="orderform_type" id="orderform_type" >
                    <option value="" {if isset($orderform_type)}{if $orderform_type==''} selected="selected" {/if}{/if} >全部</option>
                    <option value="catering" {if isset($orderform_type)}{if $orderform_type=='catering'} selected="selected" {/if}{/if} >点餐订单</option>
                    <option value="gamecoin" {if isset($orderform_type)}{if $orderform_type=='gamecoin'} selected="selected" {/if}{/if} >游戏币订单</option>
                    <option value="ticket" {if isset($orderform_type)}{if $orderform_type=='ticket'} selected="selected" {/if}{/if} >套票订单</option>
                    <option value="recharge" {if isset($orderform_type)}{if $orderform_type=='recharge'} selected="selected" {/if}{/if} >充值订单</option>
                </select>
                <div class="search_box_content search_box_title">状态:</div>
                <select class="search_box_content" name="status" id="status" >
                    <option value="100" {if isset($status)}{if $status==100} selected="selected" {/if}{/if} >全部</option>
                    <option value="0" {if isset($status)}{if $status=='0'} selected="selected" {/if}{/if} >待完成</option>
                    <option value="1" {if isset($status)}{if $status=='1'} selected="selected" {/if}{/if} >待结算</option>
                    <option value="2" {if isset($status)}{if $status=='2'} selected="selected" {/if}{/if} >已结算</option>
                    <option value="-1" {if isset($status)}{if $status=='-1'} selected="selected" {/if}{/if} >已取消</option>
                </select>
                <input type="text" name="key" value="{$key}" id="key" class="search_box_content" placeholder="昵称或手机号的关键字" autocomplete="off" onkeypress="getKey()">
                <span class="search_box_content datetimepicker_box">
                    <input type="text" value="{$start_get}"  name="start_get"   readonly id="datetimepicker" placeholder="请选择开始时间"  >
                    <span class="mr-12">至</span>
                    <input type="text" value="{$end_get}" name="end_get" readonly id="datetimepicker2" placeholder="请选择结束时间">
                </span>
                <a onclick="searchData()" class="btn btn-primary mr-10">搜索</a>
<!--                <a onclick="toExcel()" class="btn btn-success mr-10" />导出</a>-->
            </div>

            <div class="portlet-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th style="width: 120px;">ID</th>
                        <th style="width: 200px;">分销商</th>
                        <th style="width: 200px;">下单用户</th>
                        <th style="width: 160px;">订单金额</th>
                        <th style="width: 160px;">佣金金额</th>
                        <th style="width: 160px;">订单类型</th>
                        <th style="width: 160px;">下单时间</th>
                        <th style="width: 160px;">结算时间</th>
                        <th style="width: 160px;">状态</th>
                    </tr>
                    </thead>

                    <div class="mb-15 alert alert-light text-center h6">总计：￥{$total_money}元</div>

                    <tbody>
                    {foreach $lists as $item}
                    <tr>
                        <td>{$item.id}</td>
                        <td class="text-left pl-30">
                            <img src="{$item.DistributionInfo['avatar']}" class="list_avatar_img">
                            {$item.DistributionInfo['nickname']}
                        </td>
                        <td class="text-left pl-30">
                            <img src="{$item.UserInfo['avatar']}" class="list_avatar_img">
                            {$item.UserInfo['nickname']}
                        </td>
                        <td>{$item.order_money}</td>
                        <td>{$item.commission_money}</td>
                        <td>{$item.OrderTypeStr}</td>
                        <td>{$item.create_time}</td>
                        <td>
                            {$item.SettleTimeStr}
                        </td>
                        <td>
                            {if $item.status == 0}
                            <span class="btn btn-sm btn-danger">待使用</span>
                            {elseif $item.status == 1}
                            <span class="btn  btn-sm btn-warning">待结算</span>
                            {elseif $item.status == 2}
                            <span class="btn  btn-sm btn-success">已结算</span>
                            {elseif $item.status == -1}
                            <span class="btn  btn-sm btn-dark">已取消</span>
                            {/if}
                        </td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>

                <!-- 分页 -->
                <div class="fenye_bottomBox">
                    <div class="fenye_left">
                        一共查询到<font color="red" style="padding:0 10px;">{$lists->total()}</font>条数据
                    </div>
                    <div class="fenye_right">
                        {$lists|raw}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script>
    function getKey() {
        if (event.keyCode == 13) {
            searchData();
        }
    }
    function searchData() {
        var key = $('#key').val();
        var status = $('#status').val();
        var orderform_type = $('#orderform_type').val();
        var start_get = $("#datetimepicker").val();
        var end_get = $("#datetimepicker2").val();
        window.location.href = "{:Url('DistributionController/orders')}?key=" + key+'&status='+status+'&orderform_type='+orderform_type+'&start_get='+start_get+'&end_get='+end_get;
    }

    function toExcel() {
        var user_info = $('#user_info').val();
        location.href = "{:Url('DistributionController/toUserExcel')}?user_info=" + user_info + "&toexcel=1";
    }


</script>


{include file="public/foot_more" /}
