<div class="controls-content fileupload_v3">
	<div class="commonuploadslide images_dragsort" id="imgzs" style="display: flex;flex-wrap: wrap;">
		{if isset($[arr]) && $[arr]}
		{foreach  $[arr] as $key=>$res}
			{if isset($res.id)}
			<div class="thumbnail" id="img_multi{$res.id}">
				<img src="{$res.url}" />
				<a class="del_img_v3" href="javascript:;" onclick="del_img_v3({$res.id})">删除</a>
			</div>
			{else}
			<div class="thumbnail" id="img_multi{$key}">
				<input type="text" name="imgsrcs[]" value="{$res}" hidden="hidden">
				<img src="{$res}" />
				<a class="del_img_v3" href="javascript:;" onclick="del_img_v3({$key})">删除</a>
			</div>
			{/if}
		{/foreach}
		{/if}
	</div>
	<div class="add_imgs commonchangepic" data-type="2"><div>+</div>选择图片<input type="hidden" name="[name]"></div>
</div>
<style>
.fileupload_v3 .images_dragsort .thumbnail {height: auto;padding: 6px;background: #f3f3f3;}
</style>
<span class="help-block">建议尺寸<em class="badge badge-danger">[size]</em>，不超过[quality]</span>
<script type="text/javascript" src="/assets/jsv3/jquery.dragsort.min.js"></script>
<script>
	//删除【已经上传】的图片 hgj20220521
	//参数名称：请求路由
	//参数实例：Pt/del_img 后续要改成统一接口，后台判断删除类型
	function del_img_v3(id){
		if(confirm('你确定要删除这张图片嘛?')){
			if ('[route]'){
				$.post("{:Url('[route]')}",{"id":id, "appletid":1},function(data){
					if(data == '1'){
						$("#img_multi"+id).remove();
					}else{
						alert(data.msg)
					}
				})
			}else{
				$("#img_multi"+id).remove();
			}
		}
	}
	/*删除【未上传】的图片*/
	function del_imgs_v3(i){
		var mymessage=confirm("确认删除吗？");
		if(mymessage==true){
			$(".img_multi"+i).remove();
			$(".del_img_num"+i).remove();
		}
	}
	// $(function () {
	// 	//拖动
	// 	$(".images_dragsort").dragsort({
	// 		dragSelector: ".thumbnail",
	// 		dragEnd: function() { },
	// 		dragBetween: false,
	// 		placeHolderTemplate: "<div class='thumbnail '></div>"
	// 	});
	// })
</script>