			</div>
		</div>
	</div>
</div>
<input type="hidden" id="handle_status">
	<!--v3版本整理的js-->
	<script>
		var common_img_url = "/index/remote/index.html"
	</script>
	<script type="text/javascript" src="/assets/jsv3/clipboard.min.js" ></script>
	<script type="text/javascript" src="/assets/jsv3/jquery.cookie.min.js"></script>
	<script type="text/javascript" src="/assets/jsv3/common.js?v={$Think.VERSION_APP}" ></script>
	<script type="text/javascript" src="/assets/plugin/uniform/jquery.uniform.min.js"></script>
	<script type="text/javascript" src="/assets/plugin/layer/layer.js"></script>
	<script type="text/javascript" src="/assets/plugin/datepicker/moment.min.js"></script>
	<script type="text/javascript" src="/assets/plugin/datepicker/datepicker.all.min.js"></script>
	<!--v3版本整理的js-->
	</body>
</html>
