<!DOCTYPE html>
<head>
	<meta charset="utf-8" />
	<title>
		管理平台
	</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="always" name="referrer" />
	<meta content="" name="description" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<link rel="stylesheet" type="text/css" href="/assets/cssv3/bootstrap.min.css?v={$Think.VERSION_APP}"  />
	<link rel="stylesheet" type="text/css" href="/assets/cssv3/common.css?v={$Think.VERSION_APP}" >
	<link rel="stylesheet" type="text/css" href="/assets/cssv3/iconfont.css?v={:session('version_app')}" />
	<link rel="stylesheet" type="text/css" href="/assets/plugin/datepicker/datepicker.css"  />
	<script type="text/javascript" src="/assets/jsv3/jquery.js"></script>
</head>
