<!--主体头start-->
<?php
			$usergroup = 1;
      $backend_style = 1;
      $openBind = cache('openBind_' . input('appletid'));
      $openBase = cache('openBase');
      $node_id = session('node_id');
		 ?>

<!-- 导航栏 - 右侧功能 start -->
<div class="topFuns_bar">
	<div class="topFunsBar_left"><a href=""></a></div>
	<div class="topFunsBar_right">
		<div class="system_name"><img src="/image/logo-right.png" alt=""></div>
		<div class="topFunsBarR_box">
			<!--帮助模块-->
			<!--用户信息-->
			<div class="topFunsBarR_box_user mr-20">
				<div class="dropdown-toggle">{:session('name')}<i class="wb-triangle-down"></i></div>
				<!--退出模块-->
				<div id="topFunsBarR_box_user_box">
					<div class="text-primary back-system" onclick="goMainSystem()" >
						修改信息
					</div>
					<a href="/" class="text-danger back-system">
						安全退出
					</a>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- 导航栏 - 全链接 start -->
<div class="side_box_v3 clearfix">
	<!-- 导航栏 -->
	<div class="side_box_left_v3">
		<a class="side_box_logo_v3" href="">
			<img src="/image/logo.png" />
		</a>
		<div class="side_box_logo_v3_name">
			<img src="/image/logo-right.png" alt="">
		</div>
		<!-- 导航栏链接 -->
		<nav class="side_box_left_nav_v3" style="display: none;">
			<ul>
				{if in_array('1', $node_id)}
				<li class="" id="dataShow">
					<a  href="{:Url('Datashow/index')}">
						<i class="iconfont icon-x-shouye6"></i>
						<span>总览</span>
					</a>
				</li>
				
				{/if}



				{if in_array('19', $node_id)}
				<li class="" id="navVIP">
					<a  href="{:Url('WxuserController/lists')}">
						<i class="iconfont icon-yonghuzongshu"></i>
						<span>会员</span>
					</a>
				</li>
				{/if}





				{if in_array('37', $node_id)}
				<li class="" id="navSystem">
					<a  href="{:Url('SystemSetController/set')}">
						<i class="iconfont icon-xitong"></i>
						<span>系统</span>
					</a>
				</li>
				{/if}
				{if in_array('54', $node_id)}
				<li class="" id="navAlbum">
					<a  href="{:Url('AlbumController/albumLists')}">
						<i class="iconfont icon-tupian1"></i>
						<span>相册</span>
					</a>
				</li>
				{/if}

				{if in_array('16', $node_id)}
				<li class="" id="navCoupon">
					<a  href="{:Url('CouponsController/coupons')}">
						<i class="iconfont icon-x-duihuan"></i>
						<span>口碑</span>
					</a>
				</li>
				{/if}

			</ul>
		</nav>
	</div>

	<!-- 子菜单 -->
	<div class="side_box_right_v3">
		{if in_array('1', $node_id)}
		<nav class="side_box_right_nav_v3 dataShow" style="display: none">
			<ul>
				{if in_array('2', $node_id)}
				<li class="dataShow1">
					<a href="{:Url('Datashow/index')}">数据预览</a>
				</li>
				{/if}

			</ul>
		</nav>
		{/if}

		{if in_array('4', $node_id)}
		<nav class="side_box_right_nav_v3 food" style="display: none">
			<ul>
				{if in_array('5', $node_id)}
				<li class="food2">
					<a href="{:Url('RestaurantController/tables')}">桌码管理</a>
				</li>
				{/if}
				{if in_array('6', $node_id)}
				<li class="food3">
					<a href="{:Url('RestaurantController/cate')}">菜品分类</a>
				</li>
				{/if}
				{if in_array('7', $node_id)}
				<li class="food4">
					<a href="{:Url('RestaurantController/dishes')}">菜品管理</a>
				</li>
				{/if}
				{if in_array('8', $node_id)}
				<li class="food1">
					<a href="{:Url('RestaurantController/index')}">订单管理</a>
				</li>
				{/if}
			</ul>
		</nav>
		{/if}

		{if in_array('9', $node_id)}
		<nav class="side_box_right_nav_v3 appoint" style="display: none">
			<ul>
				{if in_array('10', $node_id)}
				<li class="appoint1">
					<a href="{:Url('AppointmentController/cate')}">预约分类</a>
				</li>
				{/if}
				{if in_array('11', $node_id)}
				<li class="appoint2">
					<a href="{:Url('AppointmentController/appointment')}">预约管理</a>
				</li>
				{/if}
				{if in_array('12', $node_id)}
				<li class="appoint3">
					<a href="{:Url('AppointmentController/orders')}">预约订单</a>
				</li>
				{/if}
			</ul>
		</nav>
		{/if}

		{if in_array('13', $node_id)}
		<nav class="side_box_right_nav_v3 navTicketing" style="display: none">
			<ul>
				{if in_array('14', $node_id)}
				<li class="navTicketing1">
					<a href="{:Url('TicketingController/ticketing')}">套票管理</a>
				</li>
				{/if}
				{if in_array('15', $node_id)}
				<li class="navTicketing2">
					<a href="{:Url('TicketingController/orders')}">套票订单</a>
				</li>
				{/if}
			</ul>
		</nav>
		{/if}

		{if in_array('16', $node_id)}
		<nav class="side_box_right_nav_v3 navCoupon" style="display: none">
			<ul>
				{if in_array('17', $node_id)}
				<li class="navCoupon1">
					<a href="{:Url('CouponsController/coupons')}">口碑管理</a>
				</li>
				{/if}
			</ul>
		</nav>
		{/if}



		{if in_array('19', $node_id)}
		<nav class="side_box_right_nav_v3 navVIP" style="display: none">
			<ul>
				{if in_array('20', $node_id)}
				<li class="navVIP1">
					<a href="{:Url('WxuserController/lists')}">会员管理</a>
				</li>
				{/if}
				{if in_array('21', $node_id)}
				<li class="navVIP2">
					<a href="{:Url('/index/user/vipgrade')}">会员等级</a>
				</li>
				{/if}
				{if in_array('22', $node_id)}
				<li class="navVIP3">
					<a href="{:Url('WxuserController/recharge')}">购买记录</a>
				</li>
				{/if}
<!--				{if in_array('23', $node_id)}-->
<!--				<li class="navVIP4">-->
<!--					<a href="{:Url('WxuserController/consumption')}">余额记录</a>-->
<!--				</li>-->
<!--				{/if}-->
<!--				{if in_array('49', $node_id)}-->
<!--				<li class="navVIP7">-->
<!--					<a href="{:Url('WxuserController/giveBalanceRecord')}">零钱记录</a>-->
<!--				</li>-->
<!--				{/if}-->
<!--				{if in_array('24', $node_id)}-->
<!--				<li class="navVIP5">-->
<!--					<a href="{:Url('WxuserController/integralRecord')}">积分流水</a>-->
<!--				</li>-->
<!--				{/if}-->
<!--				{if in_array('25', $node_id)}-->
<!--				<li class="navVIP6">-->
<!--					<a href="{:Url('WxuserController/diamond')}">钻石流水</a>-->
<!--				</li>-->
<!--				{/if}-->
<!--				{if in_array('50', $node_id)}-->
<!--				<li class="navVIP8">-->
<!--					<a href="{:Url('WxuserController/wxpay')}">微信支付</a>-->
<!--				</li>-->
<!--				{/if}-->
			</ul>
		</nav>
		{/if}

		{if in_array('57', $node_id)}
		<nav class="side_box_right_nav_v3 navFx" style="display: none">
			<ul>
				{if in_array('58', $node_id)}
				<li class="navFx1">
					<a href="{:Url('DistributionController/base')}">分销设置</a>
				</li>
				{/if}
				{if in_array('59', $node_id)}
				<li class="navFx2">
					<a href="{:Url('DistributionController/lists')}">分销商</a>
				</li>
				{/if}
				{if in_array('60', $node_id)}
				<li class="navFx3">
					<a href="{:Url('DistributionController/orders')}">分销订单</a>
				</li>
				{/if}
				{if in_array('61', $node_id)}
				<li class="navFx4">
					<a href="{:Url('DistributionController/commission')}">佣金提现</a>
				</li>
				{/if}
			</ul>
		</nav>
		{/if}

		{if in_array('26', $node_id)}
		<nav class="side_box_right_nav_v3 navRecharge" style="display: none">
			<ul>
				{if in_array('27', $node_id)}
				<li class="navRecharge1">
					<a href="{:Url('RechargeController/aggregate')}">充值套餐</a>
				</li>
				{/if}
			</ul>
		</nav>
		{/if}

		{if in_array('28', $node_id)}
		<nav class="side_box_right_nav_v3 navSign" style="display: none">
			<ul>
				{if in_array('29', $node_id)}
				<li class="navSign2">
					<a href="{:Url('IntegralSignController/set')}">规则设置</a>
				</li>
				{/if}
				{if in_array('30', $node_id)}
				<li class="navSign1">
					<a href="{:Url('IntegralSignController/record')}">签到记录</a>
				</li>
				{/if}
			</ul>
		</nav>
		{/if}

		{if in_array('31', $node_id)}
		<nav class="side_box_right_nav_v3 navExchange" style="display: none">
			<ul>
				{if in_array('48', $node_id)}
				<li class="navExchange1">
					<a href="{:Url('GiftExchangeController/cates')}">实物分类</a>
				</li>
				{/if}
				{if in_array('32', $node_id)}
				<li class="navExchange2">
					<a href="{:Url('GiftExchangeController/gifts')}">兑换管理</a>
				</li>
				{/if}
				{if in_array('33', $node_id)}
				<li class="navExchange3">
					<a href="{:Url('GiftExchangeController/orders')}">兑换订单</a>
				</li>
				{/if}
			</ul>
		</nav>
		{/if}
		{if in_array('34', $node_id)}
		<nav class="side_box_right_nav_v3 navPower" style="display: none">
			<ul>
				{if in_array('35', $node_id)}
				<li class="navPower1">
					<a href="{:Url('PermissionsController/manager')}">管理人员</a>
				</li>
				{/if}

				{if in_array('36', $node_id)}
				<li class="navPower2">
					<a href="{:Url('PermissionsController/authority')}">角色列表</a>
				</li>
				{/if}
			</ul>
		</nav>
		{/if}
		{if in_array('37', $node_id)}
		<nav class="side_box_right_nav_v3 navSystem" style="display: none">
			<ul>
				{if in_array('38', $node_id)}
				<li class="navSystem1">
					<a href="{:Url('SystemSetController/set')}">基础设置</a>
				</li>
				{/if}
				{if in_array('39', $node_id)}
				<li class="navSystem2">
					<a href="{:Url('SystemSetController/remote')}">远程附件</a>
				</li>
				{/if}
<!--				{if in_array('40', $node_id)}-->
<!--				<li class="navSystem3">-->
<!--					<a href="{:Url('SystemSetController/printer')}">小票打印</a>-->
<!--				</li>-->
<!--				{/if}-->
<!--				{if in_array('44', $node_id)}-->
<!--				<li class="navSystem4">-->
<!--					<a href="{:Url('SystemSetController/rewardSet')}">奖励设置</a>-->
<!--				</li>-->
<!--				{/if}-->
<!--				{if in_array('53', $node_id)}-->
<!--				<li class="navSystem5">-->
<!--					<a href="{:Url('SystemSetController/newUserGift')}">新人有礼</a>-->
<!--				</li>-->
<!--				{/if}-->
			</ul>
		</nav>
		{/if}

		{if in_array('41', $node_id)}
		<nav class="side_box_right_nav_v3 navRanking" style="display: none">
			<ul>
				{if in_array('42', $node_id)}
				<li class="navRanking1">
					<a href="{:Url('GameRankingController/index')}">游戏排行</a>
				</li>
				{/if}
				{if in_array('43', $node_id)}
				<li class="navRanking2">
					<a href="{:Url('GameRankingController/gameCheck')}">游戏审核</a>
				</li>
				{/if}
			</ul>
		</nav>
		{/if}
		{if in_array('45', $node_id)}
		<nav class="side_box_right_nav_v3 navGamecoin" style="display: none">
			<ul>
				{if in_array('46', $node_id)}
				<li class="navGamecoin1">
					<a href="{:Url('GamecoinController/index')}">套餐管理</a>
				</li>
				{/if}

				{if in_array('47', $node_id)}
				<li class="navGamecoin2">
					<a href="{:Url('GamecoinController/orders')}">订单管理</a>
				</li>
				{/if}
			</ul>
		</nav>
		{/if}

		{if in_array('54', $node_id)}
		<nav class="side_box_right_nav_v3 navAlbum" style="display: none">
			<ul>

				{if in_array('56', $node_id)}
				<li class="navAlbum2">
					<a href="{:Url('AlbumController/albumLists')}">用户相册</a>
				</li>
				{/if}
				{if in_array('55', $node_id)}
				<li class="navAlbum1">
					<a href="{:Url('AlbumController/exampleAlbum')}">示例相册</a>
				</li>
				{/if}
			</ul>
		</nav>
		{/if}


	</div>
	<div class="side_box_right_version_v3"></div>
</div>
<!-- 导航栏 - 全链接 end -->
<script>
	$(".topFunsBarR_omit").click(function(){
		$(this).stop().find("#omit_showBox").slideToggle();
	})
	$(".topFunsBarR_box_user").hover(
			function(){
				$(this).stop().find("#topFunsBarR_box_user_box").show();

			},function(){
				$(this).stop().find("#topFunsBarR_box_user_box").hide();
			}
	)
	$('.side_box_left_nav_v3 li').click(function () {
		var id = $(this).attr("id");
		$('.side_box_left_nav_v3 li').removeClass("side_box_left_active");
		$(this).addClass("side_box_left_active");
		if ($('.side_box_right_nav_v3.' + id + ' li a').attr("href") == "javascript:;") {
			window.location.href = $('.side_box_right_nav_v3.' + id + ' li a').eq(1).attr("href");
		} else {
			<?php

				$rule_group = 1;
					?>
			{if $rule_group == 1}

			{else}
			window.location.href = $('.side_box_right_nav_v3.' + id + ' li a').attr("href");
			{/if}
			}
		});
		$(function () {
			$('.side_box_left_nav_v3').show();
			$('.side_box_left_nav_v3 li').removeClass("side_box_left_active");
			var nowhtml = $("#nowhtml").val();
			$("#" + nowhtml).addClass("side_box_left_active");
			$('.side_box_right_nav_v3').hide();
			$('.side_box_right_nav_v3.' + nowhtml).show();
			$('.side_box_right_nav_v3.' + nowhtml + ' li').eq(0).addClass("active2");
			$('.side_box_right_nav_v3.' + nowhtml + ' li').removeClass("active2");
			var nowclass = $("#nowhtml").attr("class");
			if (nowclass.indexOf("-") >= 0) {
				var arr = nowclass.split('-');

				$('.side_box_right_nav_v3.' + nowhtml + ' li.' + arr[0] + " a").removeClass("active");
				$('.side_box_right_nav_v3.' + nowhtml + ' li.' + arr[0] + ' a.' + arr[0] + "-0").addClass("active");

				$('.side_box_right_nav_v3.' + nowhtml + ' li.' + arr[0] + ' a.' + nowclass).children().addClass(
						"active");

				$('.side_box_right_nav_v3.' + nowhtml + ' li.' + arr[0] + ' .sub-item-list').addClass("active");
				var subtitle = $(
						'.side_box_right_nav_v3.' + nowhtml + ' li.' + arr[0] + ' a.' + nowclass + " span").html();
				$(".content_head .content_head_left").html(subtitle);
			} else {
				$('.side_box_right_nav_v3.' + nowhtml + ' li.' + nowclass).addClass("active2");
				var subtitle = $('.side_box_right_nav_v3.' + nowhtml + ' li.' + nowclass + " a").html();
				$(".content_head .content_head_left").html(subtitle);
			}

		});
		$(document).on("click", ".child-item", function () {
			if ($(this).hasClass('active')) {
				$(this).removeClass('active');
			} else {
				$(this).addClass('active');
			}
			if ($($(this).parents('li')).find('.sub-item-list').hasClass('active')) {
				$($(this).parents('li')).find('.sub-item-list').removeClass('active');
			} else {
				$($(this).parents('li')).find('.sub-item-list').addClass('active');
				var liclass = $($(this).parents('li')).attr("class");
				var nclass = $("#nowhtml").attr("class");
				if (nclass.indexOf(liclass) >= 0) {
					$($(this).parents('li')).find('.sub-item-list a.' + nclass).addClass('active');
				} else {
				}
			}
		});
</script>
<div id="changeuserinfo"class="form-horizontal" style="display: none;padding-top: 40px;">
	<div class="control-group">
		<label class="control-label">登录账号</label>
		<div class="controls">
			<input name="user_name" id="user_name" type="text" class="controls-content" value="{:session('user_name')}" placeholder="请输入新登录账号">
		</div>
	</div>
	<div class="control-group">
		<label class="control-label">登录密码</label>
		<div class="controls">
			<input name="user_password" id="user_password" type="text" class="controls-content" value="" placeholder="请输入新登录密码">
		</div>
	</div>
</div>
<div class="contentbox">
	
<script>
	function goMainSystem(){

	// clearLogin()
	// let user = localStorage.getItem('user')
	// let url = '/new_plat/index.html#/login'
	// console.log(user)
	// if(user){
	// 	let user_parse_json = JSON.parse(user)
	// 	url = '/new_plat/index.html#'+user_parse_json.redirect_url
	// }
	// window.location.href = url
		layer.open({
			type: 1,
			content: $('#changeuserinfo'),
			title: ["修改信息", "text-align:center;padding:0;font-weight:600;font-size:17px"],
			area: ["740px", "300px"],
			btn: ["确定", "取消"],
			btnAlign: 'c',
			closeBtn: 0,
			success: function () {
					console.log('确定')
			},
			yes: function (index){
				var user_name = $("#user_name").val()
				var user_password = $("#user_password").val()
				if(!user_name && !user_password){
					alert('请输入需要修改的信息')
				}
				$.ajax({
					url:"{:Url('PermissionsController/changeUserInfo')}",
					type:"post",
					dataType:'json',
					data:{
						appletid: 1,
						user_name: user_name,
						user_password: user_password
					},
					success:function(result){
						if(result.code == 1){
							layer.msg("操作成功，请重新登录", {
								time: 1000,
							});
							setTimeout(() => {
								location.href = 'http://'+window.location.host;
							}, 1000);
						}else{
							alert(result.msg)
						}
					}
				})
			}
		})

	}
	// 公告
	function showNotice(){
		layer.open({
			skin: 'layui-notice',
			type: 2,
			title: false,
			area: ['800px'],
			fixed: false, //不固定
			closeBtn: 0,
			anim: 5,
			content: ['{:Url("datashow/platNotice")}?page=1&type=2','no'],
			success:function(layero,index){
			},
			end:function(){

			}
		});
	}

	// 后台风格
	var _style = 1
	var _navc = 2
	var _menu = 1
	var _theme = 14
	function getStorage(){
		_style =  1;
		_navc =  2;
		_menu =  1;
		_theme =  14;
		changeStyle1(_style,1);
		changeStyle2(_navc,1);
		changeStyle3(_menu,1);
		changeStyle4(_theme,1);
	}
	getStorage();
	function setBackStyle(type1,type2,type3,type4){
		$.ajax({
			url: "{:Url('index/Datashow/setBackendStyle')}",
			type: "post",
			dataType: 'json',
			data:{
				uniacid: "1",
				allStyle: type1,
				navColor: type2,
				subMenu: type3,
				themeColor: type4
			},
			success:function(res){

			}
		})
	}
	function changeAllStyle(){
		$(".platform_bigBg").show();
		$(".platform_totalStyle").addClass("totalStyle_show");
	}
	function closeAllMask(){
		$(".platform_bigBg").hide();
		$(".platform_totalStyle").removeClass("totalStyle_show");
	}
	// 整体布局
	function changeStyle1(type,_key){
		if(_key != 1){
			_style = type;
			setBackStyle(type,_navc,_menu,_theme);
		}
		$(".topFuns_bar").removeClass("topFuns_bar_style1 topFuns_bar_style2");
		$(".side_box_v3").removeClass("topFuns_bar_style1 topFuns_bar_style2");
		$(".contentbox").removeClass("topFuns_bar_style1 topFuns_bar_style2");
		$(".topFuns_bar").addClass("topFuns_bar_style"+type);
		$(".side_box_v3").addClass("topFuns_bar_style"+type);
		$(".contentbox").addClass("topFuns_bar_style"+type);
		$(".totalStyle_itemBox1").removeClass("act_border");
		$(".totalStyle_itemBox1.act_type"+type).addClass("act_border");
		if(type == 1){
			$(".helpItem_box").removeClass("text-primary");
		}else{
			$(".helpItem_box").addClass("text-primary");
		}
		closeAllMask();
	}
	// 导航栏
	function changeStyle2(type,_key){
		if(_key != 1){
			_navc = type;
			setBackStyle(_style,type,_menu,_theme);
		}
		if(type == 1){
			$(".side_box_left_v3").addClass("platformTop_bgf").removeClass("platformTop_bgmain");
			$(".topFuns_bar").addClass("platformTop_bgf").removeClass("platformTop_bgmain");
			$(".topFunsBarR_omit").addClass("text-primary");
		}else{
			$(".side_box_left_v3").addClass("platformTop_bgmain").removeClass("platformTop_bgf");
			$(".topFuns_bar").addClass("platformTop_bgmain").removeClass("platformTop_bgf");
			$(".topFunsBarR_omit").removeClass("text-primary");
		}
		$(".totalStyle_itemBox2").removeClass("act_border");
		$(".totalStyle_itemBox2.act_type"+type).addClass("act_border");
		closeAllMask();
	}
	// 子菜单
	function changeStyle3(type,_key){
		if(_key != 1){
			_menu = type;
			setBackStyle(_style,_navc,type,_theme);
		}
		$(".totalStyle_itemBox3").removeClass("act_border");
		$(".totalStyle_itemBox3.act_type"+type).addClass("act_border");
		if(type == 1){
			$(".side_box_right_v3").removeClass("submenu_bgDark");
		}else{
			$(".side_box_right_v3").addClass("submenu_bgDark");
		}
		closeAllMask();
	}
	// 主题色
	function changeStyle4(type,_key){
		if(_key != 1){
			_theme = type;
			setBackStyle(_style,_navc,_menu,type);
		}
		$(".totalStyle_itemBox4").removeClass("act_colorBox");
		$(".totalStyle_itemBox4.act_type"+type).addClass("act_colorBox");
		$("body.page-header-fixed").removeClass("now_colorType1 now_colorType2 now_colorType3 now_colorType4 now_colorType5 now_colorType6 now_colorType7 now_colorType8 now_colorType9 now_colorType10 now_colorType11 now_colorType12 now_colorType13 now_colorType14");
		$("body.page-header-fixed").addClass("now_colorType"+type);
		closeAllMask();
	}
	

	function goOut(){
		clearLogin();
		let url = '/new_plat/index.html#/login';
		window.location.href = url
	}

	function clearLogin(){
		$.ajax({
			url: "{:Url('Datashow/sessionClear')}",
			type: "post",
			dataType: 'json',
			data:{
				uniacid: "1",
			},
			success:function(res){

			}
		})
	}

</script>


