{include file="public/head" /}
{include file="public/top" /}

<input type="hidden" id="nowhtml" value="navVIP" class="navVIP3">

<div class="row">
    <div class="col-xl-12">
        <div class="portlet box ">
            <div class="portlet-body">
                <div class="public_select_search_btn_box">
                    <input type="text" placeholder="请输入关键词" class="search_box_content" id="se_key" value="{$se_key}" onkeypress="getKey()">
                    <span class="search_box_content datetimepicker_box">
							<input type="text" value="{$start_get}"  name="start_get"   readonly id="datetimepicker" placeholder="请选择开始时间"  >
							<span class="mr-12">至</span>
							<input type="text" value="{$end_get}" name="end_get" readonly id="datetimepicker2" placeholder="请选择结束时间">
						</span>
                    <button class="btn btn-primary  mr-10" onclick="search()">搜索</button>
                </div>

                {if $start_get || $end_get}
                <div class="mb-15 alert alert-light text-center h6">总计：￥{$total_money}元</div>
                {/if}
                <table class="table">
                    <thead>
                    <tr>
                        <th>用户信息</th>
                        <th>金额</th>
                        <th>订单号</th>
                        <th>等级</th>
                        <th>时长</th>
                        <th>时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    {if $lists}
                    {foreach $lists as $item}
                    <tr>
                        <td class="text-left pl-30">
                            <a href="{:Url('WxuserController/lists')}?user_id={$item.user_id}">
                                <img src="{$item.UserInfo['avatar']}" class="list_avatar_img" >
                            </a>
                            {$item.UserInfo['nickname']}
                        </td>
                        <td>
                            {$item.pay_price}
                        </td>
                        <td>
                            {$item.order_id}
                        </td>
                        <td>
                            {if $item->grade}
                            {$item->grade->grade_name}
                            {else}
                            {$item.grade_level}级
                            {/if}
                        </td>
                        <td>
                            {$item.BuyTime}
                        </td>
                        <td>
                            {$item.create_time}
                        </td>
                    </tr>
                    {/foreach}
                    {/if}
                    </tbody>
                </table>

                <!-- 分页 -->
                <div class="fenye_bottomBox">
                    <div class="fenye_left">
                        一共查询到<font color="red" style="padding:0 10px;">{$lists->total()}</font>条数据
                    </div>
                    <div class="fenye_right">
                        {$lists|raw}
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>

<script>
    function getKey(){
        if(event.keyCode == 13){
            search();
        }
    }
    function search(){
        var key = $.trim($("#se_key").val());
        var start_get = $("#datetimepicker").val();
        var end_get = $("#datetimepicker2").val();
        location.href = "{:Url('WxuserController/recharge')}?key="+key+'&start_get='+start_get+'&end_get='+end_get;
    }

    function daochu() {
        var key = $.trim($("#se_key").val());
        var start_get = $("#datetimepicker").val();
        var end_get = $("#datetimepicker2").val();
        location.href = "{:Url('WxuserController/recharge')}?key="+key+'&start_get='+start_get+'&end_get='+end_get;
    }
</script>



{include file="public/foot_more" /}