{include file="public/head" /}
{include file="public/top" /}

<input type="hidden" id="nowhtml" value="navCoupon" class="navCoupon1">
<style type="text/css">


</style>

<div class="row">
    <div class="col-xl-12">
        <div class="portlet box ">
            <div class="portlet-body">

                <div class="input-box mb-20">
                    <div class="btn-group mr-10">
                        <a href="{:Url('CouponsController/addEvaluate')}">
                            <button id="sample_editable_1_new" class="btn btn-primary">
                                添加口碑
                            </button>
                        </a>
                    </div>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th style="width: 80px;">ID</th>
                        <th style="width: 350px;">用户</th>
                        <th style="width: 150px;">类型</th>
                        <th >内容</th>
                        <th style="width: 200px;">提交时间</th>
                        <th style="width: 200px;">操作</th>
                    </tr>
                    </thead>

                    {if $coupon}
                    {foreach $coupon as $item}
                    <tr>
                        <td>
                            {$item.id}
                        </td>
                        <td class="text-left pl-30">
                            <img src="{$item.UserInfo['avatar']}" class="list_avatar_img">
                            {$item.UserInfo['nickname']}
                        </td>
                        <td>
                            {$item.purpose}
                        </td>
                        <td>
                            {$item.evaluate_content}
                        </td>
                        <td>
                            {$item.create_time}
                        </td>
                        <td>
                            <a onclick="return confirm('该删除操作不可逆，请谨慎操作！'); return false;" href="{:Url('CouponsController/deleteCoupons')}?couponid={$item.id}">
                                <button class="btn btn-outline-danger">删除</button>
                            </a>
                        </td>
                    </tr>
                    {/foreach}
                    {/if}
                </table>

                <!-- 分页 -->
                <div class="fenye_bottomBox">
                    <div class="fenye_left">
                        一共查询到<font color="red" style="padding:0 10px;">{$coupon->total()}</font>条数据
                    </div>
                    <div class="fenye_right">
                        {$coupon|raw}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function del(){
        if(confirm('该删除操作不可逆，请谨慎操作?')){
            return true;
        }else{
            return false;
        }
    }
</script>

{include file="public/foot_more" /}