{include file="public/head" /}
{include file="public/top" /}

<input type="hidden" id="nowhtml" value="navRecharge" class="navRecharge1">

<style type="text/css">
    span.people_havetip{
        margin-left: 20px;
        line-height: 30px;
        white-space: nowrap;
    }
</style>

<div class="row">
    <div class="col-xl-12">
        <div class="portlet box">
            <div class="portlet-body form">
                <form action="{:Url('RechargeController/saveAggregate')}" id="form_sample_2" class="form-horizontal" method="post" enctype="multipart/form-data" onsubmit = "return checkinfo();">
                    <input type="hidden" name="cz" value="{$cz}">

                    <div class="control-group">
                        <label class="control-label"><span>*</span> 套餐名称</label>
                        <div class="controls">
                            <input name="title" id="title" type="text" maxlength="50" class="controls-content" value="{if $recharge}{$recharge.title}{/if}">
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"><span>*</span> 充值金额</label>
                        <div class="controls">
                            <input name="money" id="money" type="number" min="0.01" step="0.01" class="controls-content" value="{if $recharge}{$recharge.money}{/if}">
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"> 赠送游戏币</label>
                        <div class="controls">
                            <input name="get_gamecoin" id="get_gamecoin" type="number" mini="0" class="scontrols-content" value="{if $recharge}{$recharge.get_gamecoin}{else}0{/if}" />
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"> 赠送零钱</label>
                        <div class="controls">
                            <input name="getmoney" id="getmoney" type="number" min="0" step="0.01" class="controls-content"  value="{if $recharge}{$recharge.getmoney}{else}0{/if}">
                            <span class="help-block">充值赠送零钱，可用于消费部分商品</span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label"> 赠送积分</label>
                        <div class="controls">
                            <input name="getscore" id="getscore" type="number" mini="0" class="scontrols-content" value="{if $recharge}{$recharge.getscore}{else}0{/if}" />
                            <span class="help-block"></span>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label">赠送卡券</label>
                        <div class="controls" style="display: flex;">
                            <div class="select" style="display: flex;">
                                <select name="coupon_id[]" id="coupon_id" >
                                    <option value="0" selected>不赠送</option>
                                    {foreach $yhqs as $cateP}
                                    <option value="{$cateP.id}" {if $recharge}{if $recharge['coupon_con']}{if $cateP.id==$recharge['coupon_con'][0]['coupon_id']}selected{/if}{/if}{/if}>{$cateP['title']}</option>
                                    {/foreach}
                                </select>
                                <div class="add" style="display: flex;">
                                    <span class="people_havetip">每人可获得</span>
                                    <input class="s1" type="number" min="0" name='coupon_num[]' value="{if $recharge}{if $recharge.coupon_con}{$recharge['coupon_con'][0]['coupon_num']}{/if}{/if}" style="border: 1px solid #e7e7eb;margin-left: 10px;">
                                    <span style="line-height: 30px;margin:0 10px;" class="span"> 张 </span>
                                </div>
                                <div class="btn btn_hov" onclick="add()" style="background-color: #6954F0;color:#fff;">添加</div>
                            </div>
                        </div>
                    </div>
                    <div class="couponadd">
                        {if $recharge}
                        {if $recharge.coupon_con}
                        {foreach $recharge.coupon_con as $k => $vv}
                        {if $k > 0}
                        <div class="control-group del{$k}">
                            <label class="control-label"></label>
                            <div class="controls" style="display: flex;">
                                <div class="select" style="display: flex;">
                                    <select name="coupon_id[]" id="coupon_id" >
                                        <option value="0" selected>不赠送</option>
                                        {foreach $yhqs as $v}
                                        <option value="{$v['id']}" {if $v['id']==$vv['coupon_id']}selected='selected'{/if} >{$v['title']}</option>
                                        {/foreach}
                                    </select>
                                    <div class="add" style="display: flex;">
                                        <span class="people_havetip">每人可获得</span>
                                        <input type="number" min="0" name='coupon_num[]' value="{$vv['coupon_num']}" style="border: 1px solid #e7e7eb;margin-left: 10px;">
                                        <span style="line-height: 30px;margin:0 10px;" class="span"> 张 </span>
                                    </div>
                                    <a class="btn btn-outline-danger" onclick="del({$k})">删除</a>
                                </div>
                            </div>
                        </div>
                        {/if}
                        {/foreach}
                        {/if}
                        {/if}
                    </div>

                    <div class="form-actions form_nobg">
                        <button type="submit" class="btn btn-primary">确定</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>



{include file="public/foot_more" /}


<script type="text/javascript">
    var i = 1;
    function add(){
        var str = '<div class="control-group del'+i+'">\
							<label class="control-label"></label>\
							<div class="controls" style="display: flex;">\
							<div class="select" style="display: flex;">\
							<select name="coupon_id[]" id="coupon_id" >\
							<option value="0" selected>不赠送</option>\
							{foreach $yhqs as $v}\
							<option value="{$v.id}" >{$v.title}</option>\
							{/foreach}\
							</select>\
							<div class="add" style="display: flex;">\
							<span class="people_havetip">每人可获得</span>\
							<input type="number" min="0" name="coupon_num[]" value="" style="border: 1px solid #e7e7eb;margin-left: 10px;">\
							<span style="line-height: 30px;margin:0 10px;" class="span"> 张 </span>\
							</div>\
							<div class="btn btn-outline-danger" onclick="del('+i+')">删除</div>\
							</div>\
							</div>\
							</div>';
        $(".couponadd").append(str);
        ++i;
    }
    function del(j){
        $(".del"+j).remove();
    }

    function clearNoNum(obj){
        obj.value = obj.value.replace(/[^\d.]/g,"");  //清除“数字”和“.”以外的字符
        if(obj.value.charAt(0,1) == "."){
            obj.value = "";
        }
        obj.value = obj.value.replace(/\.{2,}/g,"."); //只保留第一个. 清除多余的
        obj.value = obj.value.replace(".","$#$").replace(/\./g,"").replace("$#$",".");
        obj.value = obj.value.replace(/^(\-)*(\d+)\.(\d\d).*$/,'$1$2.$3');//只能输入两个小数
        if(obj.value.indexOf(".")< 0 && obj.value !=""){
            obj.value= parseFloat(obj.value);
        }
    }

    function checkinfo(){
        var title = $("#title").val();
        var money = $("#money").val();
        var getmoney = $("#getmoney").val();
        var getscore = $("#getscore").val();
        if(!title){
            alert("充值套餐名称不能为空！");
            return false;
        }
        if(!money){
            alert("充值金额不能为空！");
            return false;
        }

        if(!getmoney){
            alert("赠送金额不能为空！");
            return false;
        }

        if(!getscore){
            alert("赠送积分不能为空！");
            return false;
        }
    }
</script>


{include file="public/foot_more" /}