{include file="public/head" /}
{include file="public/top" /}

<input type="hidden" id="nowhtml" value="navRecharge" class="navRecharge1">

<div class="row">
    <div class="col-xl-12">
        <div class="portlet box ">
            <div class="portlet-body">

                <div class="input-box mb-20">
                    <div class="btn-group mr-10">
                        <a href="{:Url('RechargeController/addAggregate')}">
                            <button id="sample_editable_1_new" class="btn btn-primary">
                                添加套餐
                            </button>
                        </a>
                    </div>
                </div>

                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>套餐名称</th>
                        <th>充值金额(元)</th>
                        <th>赠送游戏币(个)</th>
                        <th>赠送金额(元)</th>
                        <th>赠送积分</th>
                        <th>赠送优惠券</th>
                        <th width="300px;">操作</th>
                    </tr>
                    </thead>

                    {if $guiz}
                    {foreach $guiz as $item}
                    <tr>
                        <td>{$item.id}</td>
                        <td>{$item.title}</td>
                        <td>
                            {$item.money}
                        </td>
                        <td>
                            {$item.get_gamecoin}
                        </td>
                        <td>
                            {$item.getmoney}
                        </td>
                        <td>
                            {$item.getscore}
                        </td>
                        <td>
                            {if $item.CouponConShow}
                            {foreach $item.CouponConShow as $vi}
                            {$vi.title} X {$vi.coupon_num} <br/>
                            {/foreach}
                            {else}
                            不赠送
                            {/if}
                        </td>
                        <td>
                            <a class="btn btn-outline-primary" href="{:Url('RechargeController/addAggregate')}?cz={$item.id}">编辑</a>
                            <a class="btn btn-outline-danger" onclick="return confirm('该删除操作不可逆，请谨慎操作！'); return false;" href="{:Url('RechargeController/deleteAggregate')}?cz={$item.id}">删除</a>
                        </td>
                    </tr>
                    {/foreach}
                    {/if}
                </table>

                <!-- 分页 -->
                <div class="fenye_bottomBox">
                    <div class="fenye_left">
                        一共查询到<font color="red" style="padding:0 10px;">{$guiz->total()}</font>条数据
                    </div>
                    <div class="fenye_right">
                        {$guiz|raw}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
    function del(){
        if(confirm('该删除操作不可逆，请谨慎操作?')){
            return true;
        }else{
            return false;
        }
    }
</script>

{include file="public/foot_more" /}